[2012-10-11 19:24] Aramos87 opened #1 "Issue Intersects"
Hi

I have the following code:

                IPolygon boundingBox = Geometry.DefaultFactory.CreatePolygon(Geometry.DefaultFactory
                                                                          .CreateLinearRing(new[]
                                                                       {
                                                                           new Coordinate(-101.2

[2013-08-09 11:09] Spamme1 opened #2 "NuGet package"
Hello

Would you consider create a nuget package for the library with the required references?

Thanks

[2013-08-11 08:08] #2 closed, assigned to nobody

[2013-09-27 06:59] casualtrash opened #3 "SQL Server 2012 Dialect"
Hello

Would you upgrade the project and add also a new version for the SQL Server 2012 dialect?

[2013-11-29 14:15] #3 closed, assigned to nobody

[2014-03-06 15:46] FObermaier opened #5 "Offset in index parameters between xxxHql and xxxLinq intended?"
I'm working on adding SpatiaLite support for NHibernate. In the process of getting the unit tests to pass, I noticed that there is an offset in the argument indices between the Hql and Linq test functions. Is that intended?

The tests
- ConformanceItemT23Linq
- ConformanceItemT29Linq
- ConformanceItemT31Linq
only pass for spatialite, if I adjust the indices to those of the Hql counterparts.

[2014-03-07 11:44] suryapratap opened #6 "Support for Sql Server 2012 Spatial Dialect"
Just to bring in the context from the emails

**Stephen Bohlen**

**Surya Pratap**

**Andreas Ravnestad**

[2014-03-09 14:59] FObermaier opened #7 "HowTo: Pass IGeometry as parameter to query"
I implemented the ToGeometry static extension methods for Linq.
In the UnitTests where these functions play a role (the ones attributed Ignore("implement ToPolygon") I see that the IGeometry instance is being passed as parameter to the qurey and  not being converted to the db specific type. Therefor the tests fails.

Is there a way to instruct NHibernate to convert the parameter prior to passing i

[2014-03-23 10:36] KapecK opened #8 "Unable to save the geography in PostGIS"
When I try to save the geography:
"Column "adr_geography" is a type of geography but expression is of type text"

ErrorSQL:
UPDATE dbo.adres SET ADR_GEOGRAPHY = ((E'0101000020000000000000000000004E400000000000003440')::text) WHERE ADR_ID = ((34)::int4)

Code:
 address[0].Geography = new Point(60,20);
 transaction.Commit();

[2014-04-16 09:11] sh1ng opened #9 "Warn the custom type 'GeoAPI.Geometries.IGeometry' handled by ... is not Serializable"
But my custom type is Serializable

[2014-07-21 12:55] EnemyArea opened #11 "NotSupportedException: Double Distance(GeoAPI.Geometries.IGeometry)"
Hi pp,

I have some problems with the linq queries and the spatial datatypes. I want to make a search for all points in a certain distance. Here is a example:

this.pointObjectRepository.GetAllEntities().FirstOrDefault(x => x.Location.Distance(geoPoint1.Location) < 10);

pointObjectRepository is my repository and GetAllEntities is a session.Query<T>() from nhibernate. geoPoint1 is from type NetTop

[2014-08-06 06:49] suryapratap opened #12 "Mapping by code sets IGeometry / IGeography database type to small int"
if I have a mapping code like
[code]
and the model like
[code]

the database schema automatically generated takes GisPoint.Geom to be a small int.

this is caused if you set configuration like so
[code]

[2014-08-06 11:50] EnemyArea opened #13 "Distance ignores SRID"
[code]

both return 0,000105372880733037 but it should 8,16680415531018

[2014-08-07 10:42] #13 closed, assigned to nobody

[2014-08-22 18:18] nickalbrecht opened #14 "Error after upgrading to nHibernate 4.0.0 GA"
I've tried to update an app using nHibernate 3.3.3 to instead use 4.0.0 but I'm getting an error about being unable to find a field in NHibernateUtil (forgive my lack of an exact error, I tried this yesterday and have since rolled back) and the error is originating inside of the Spatial library. I grabbed the source from sourceforge for the spatial project, but it's not compiling for me within Vis

[2014-08-26 22:10] hazzik opened #15 "Consider moving to @NHibernate organization"
Hi Guys,

We are pleased to call you to join @nhibernate organization at GitHub.

[2014-08-27 23:39] pazunino opened #16 "NTS 1.13.3 and GeoAPI 1.7.3 upgrade"
Hi, I had to upgrade NTS and GeoAPI to their latest versions.
The "bindingRedirect" policy, applied to the library GeoAPI, not work and the library loading process keeps searching the 1.7.2 version (caused by NHibernate.Spatial.MsSql2008).
Are you planning to update these references in the short term?
Regards.

[2014-08-28 11:12] #15 closed, assigned to nobody

[2014-10-26 01:06] #16 closed, assigned to nobody

[2014-10-26 01:07] #14 closed, assigned to nobody

[2015-03-30 19:28] andrerav commented on #12
@suryapratap Can you help me clarify this issue please. I see you are using MsSql2012Dialect and not MsSql2012GeometryDialect, is this intentional?

[2015-03-31 01:47] suryapratap commented on #12
It was not intentional, I missed it totally. I will change the dialect and test again.

[2015-03-31 02:14] suryapratap commented on #12
I had migrated the project to use PostGisDialect, here the automatic setting sets the column to **text** instead of **geometry**.

changing dialect to MsSql2012GeometryDialect sets the column to nvarchar(MAX).

[2015-03-31 11:11] andrerav commented on #3
SQL Server 2012 support has been implemented. To specify which version of the Microsoft.SqlServer.Types should be used at runtime, specify **Type System Version** in the connection string, as so:

    server=localhost;database=MyDB;**Type System Version**=SQL Server 2012

[2015-07-23 13:58] peetw opened #23 "PostGisDialect property SupportsIdentityColumns should return true"
Is there any reason why this [property](https://github.com/nhibernate/NHibernate.Spatial/blob/e4e9c34c769f4812f811d2bacc367e66597e355c/NHibernate.Spatial.PostGis/Dialect/PostGisDialect.cs#L61) still returns `false`? Currently this means that FluentNHibernate's automapping maps Id columns using `integer` and a single "hibernate_sequence", rather than mapping them as `serial` with individual sequenc

[2015-07-23 14:33] andrerav commented on #23
@peetw: I am confused by the comment as well. This dates back to 2009/2010, so it's hard to tell what was going on. I will try making this modification and see how it impacts the tests.

[2015-07-23 15:42] peetw commented on #23
If it's any help, these are the NuGet packages I'm using:

    <?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
      <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net452" />
      <package id="GDAL" version="1.10.0.9-a" targetFramework="net452" />
      <package id="GDAL.Native" version="1.

[2015-08-11 15:08] PostbuzzAndriy opened #24 "Registering metadata error"
When i do NHibernate.Spatial.Metadata.Metadata.AddMapping( cfg, NHibernate.Spatial.Metadata.MetadataClass.SpatialReferenceSystem ); I get an error
Resource not found: NHibernate.Spatial.Metadata.SpatialReferenceSystem.MsSql2008GeographyDialect.hbm.xml
but looking into the library System.Reflection.Assembly.Load("NHibernate.Spatial.MsSql").GetManifestResourceNames() we can find:
 "NHibernate.Spatia

[2015-08-14 14:10] peetw opened #25 "Update NuGet package from 2.2.0 to 4.0.3.4000"
Currently the NuGet package for [NHibernate.Spatial](https://www.nuget.org/packages/NHibernate.Spatial/) is stuck on version 2.2.0, whereas the sub-packages ([MsSql](https://www.nuget.org/packages/NHibernate.Spatial.MsSql/), [PostGis](https://www.nuget.org/packages/NHibernate.Spatial.PostGis/), etc.) are all on version 4.0.3.400. Is there any reason for this?

It means that in order to use NHibern

[2015-08-14 14:27] andrerav commented on #25
Hi,

The package you refer to is a very old version of NHibernate.Spatial built
for NHibernate 2.2 and is not associated with this project and is not a
dependency for the packages produced by this project.

-Andreas
On Aug 14, 2015 4:10 PM, "peetw" <notifications@github.com> wrote:

[2015-08-14 14:30] peetw commented on #25
Thanks for the quick response :)

Indeed. What I was thinking was whether it would be possible to update the package (based on the NHibernate.Spatial project in this repo) so that the base functionality can be included without having to install a database-specific sub-package?

[2015-08-18 11:36] peetw commented on #25
For example, in one of my current applications, I have 2 projects: A and B. Project A references project B, which performs all the database management and references NHibernate.Spatial.MsSql, NHibernate.Spatial.PostGis, etc. Project A performs some spatial query so in theory it only needs to reference NHibernate.Spatial since the actual handling will be done by the appropriate database-specific DL

[2015-10-02 11:54] danielcweber opened #26 "MsSql2008FunctionRegistration.GetSpatialCreateString fails to recognize when a geometry-column is not nullable."
Not sure whether MsSql2008FunctionRegistration is the exact class for setting "NOT NULL" constraints for geometry/geography-type columns on MS-SQL-Server, however, somewhere in the processing chain, this information is lost.

[2015-10-02 12:34] andrerav commented on #26
Hi @danielcweber,

Can you please tell us more about your environment and how you are triggering this behaviour?

Thanks,
Andreas

[2015-10-02 13:18] danielcweber commented on #26
I created a minimal working example [here](https://github.com/danielcweber/NHibernateSpatialBug).
Note that you need to set a valid connection string.

The desired behavior would create a not-null geography column named "Area" in a table named "SomeAreaClass". The actual behaviour fails to add the constraint.

I guess this should be set [here](https://github.com/nhibernate/NHibernate.Spatial/blob/

[2015-10-09 10:46] andrerav opened #27 "Dependency to Microsoft.SqlServer.Types should probably be removed from the NHibernate.Spatial.MsSql nuget package."
The reference to Microsoft.SqlServer.Types has proven to be quite annoying due to the manner in which it installs binaries and source code which is completely redundant in projects where deployment of these binaries are handled manually (which is a much better practice). This dependency should be removed from the NuGet package unless there are very good reasons to keep it.

[2015-10-15 04:25] suryapratap commented on #27
:+1:

[2015-10-31 00:18] andrerav commented on #27
Fixed and pushed to NuGet.

[2015-10-31 00:18] #27 closed

[2015-11-13 18:08] andrerav commented on #25
@peetw Well I suppose I could create a separate NuGet package for NHibernate.Spatial (even though on NuGet it would have to be named something else, like NHibernate.Spatial.Base). However I am reluctant to make that a dependency for the various dialect flavors. Could this solution work for you?

[2015-11-16 09:40] peetw commented on #25
@andrerav That sounds like it would work, but only if the dialect flavours also used the updated package as their dependency, otherwise you would end up with 2 versions of NHibernate.Spatial in the solution (v2.2 from the dialect dependency; v4.x from NHibernate.Spatial.Base). What would need to be done to update the dialects to use the updated NHibernate.Spatial.Base?

[2015-11-16 09:50] andrerav commented on #25
@peetw Solution 1:
1. Create a NuGet package from NHibernate.Spatial (NHibernate.Spatial.Base)
2. Remove the dependency on NHibernate.Spatial from the various dialects
3. Add a new dependency on the NuGet package to the various dialects

Solution 2: (if it is possible)
1. Same as solution 1
2. Keep the internal dependency structure in the solution
3. Add a dependency on the NHibernate.Spatial.Base

[2015-11-16 10:06] peetw commented on #25
Surely solution 1 would be the cleanest way of doing it? Unless I've misunderstood (very possible :D), it's how it works at the moment, so I don't see why it would add to the maintenance overhead? If anything, using an active NuGet package that you control (NHibernate.Spatial.Base) as a dependency, rather than a dead package (NHibernate.Spatial), should make maintenance easier?

[2015-11-16 10:12] andrerav commented on #25
@peetw I think you may have misunderstood the relationship between this project and the NHibernate.Spatial NuGet package. The NHibernate.Spatial package is built for NHibernate 2.2 and is not associated with this project and is not a dependency for any of the packages produced by this project.

Creating an internal NuGet dependency on the hypothetical NHibernate.Spatial.Base would make debugging v

[2015-11-16 10:12] hazzik commented on #25
@nhibernate/nhibernate-spatial try to contact owner of NHibernate.Spatial package first. Sometimes it does help

[2015-11-16 10:20] andrerav commented on #25
@hazzik Yes, we will absolutely do that if we decide to move on to split out a separate package for NHibernate.Spatial :)

[2015-11-16 10:21] peetw commented on #25
@andrerav I understand that ;) But this project does build a NHibernate.Spatial DLL that is currently at the same version as the dialects (v4.x) and is included as a dependency when referencing the dialect NuGet packages, no? My thoughts were that this DLL could be moved to its own NuGet package, so that it could be referenced independently of the dialects. However, I see now that this would incre

[2015-11-16 10:25] andrerav commented on #25
@peetw That's what my proposed solution #2 seeks to amend. If it is possible to maintain a regular project reference within the solution while still being able to publish two different NuGet packages then everything is peachy. I need to read up on NuGet to figure out how to do that though, if it is even possible. I do know that it is possible to forcibly remove a dependency from a package, but I d

[2015-11-16 10:28] peetw commented on #25
@andrerav Ok great :) Let me know if you need a hand testing anything!

Also, just for my (and anyone else viewing this!) future reference, I highlighted the DLL in question:

![image](https://cloud.githubusercontent.com/assets/1334162/11179616/97411cf0-8c4c-11e5-8c16-3d67e148bb23.png)

[2015-11-16 13:08] andrerav commented on #25
@peetw I did some checking, and it seems that it is possible to realize this without jumping through any hoops. Currently we use the -IncludeReferencedProjects to actually include the NHibernate.Spatial.dll assembly, so this can simply be removed. To set up the correct dependency structure it is probably necessary to start using .nuspec files, but it's about time we started doing that anyway.

I w

[2015-11-16 13:41] peetw commented on #25
That's good news :) Hopefully you'll hear back from NHibernate.Spatial!

[2015-11-16 13:47] peetw commented on #25
Also, I suppose we may be able to contact the NuGet Gallery Support team if the NHibernate.Spatial package really is dead. Or at least this is what is recommended in the [FAQs](http://docs.nuget.org/consume/nuget-faq#managing-packages-in-nuget.org):

[2015-11-16 21:25] andrerav commented on #25
@peetw I don't think that will be necessary, the package name isn't really that important and the maintainer created his package with good intentions. If he gets back to me then great, otherwise it's really no problem.

[2016-01-19 20:40] danielcweber commented on #26
Any news on this ?

[2016-01-26 14:51] EnemyArea opened #28 "OptimisticLock not working with geotype"
Hi,

we found an issue that currently blocks us very hard. We want to activate nhibernates OptimisticLock feature.

[code]

but I we changed an entity with a geotype it generates sql like

declare @p3 sys.geography
set @p3=convert(sys.geography,0xE61000000114159DAF9215EC4A40F19888688E4725400297DD170AEC4A405BA7C51B92472540)
declare @p5 sys.geography
set @p5=convert(sys.geography,0xE6100000011469248

[2016-01-26 14:58] andrerav commented on #28
Hi @EnemyArea, that looks like a nasty bug. Is it possible for you to provide a simple solution which showcases this problem?

[2016-02-01 07:44] keyjote opened #29 "Readme file links point to non existing pages"
Hi

I have been trying to setup nhibernate spatial for the past days with little luck.
The help links in the readme file for the configuration and mapping don't point to any existing page.
So I had to google and found a really old page (2009) [http://nhibernate.info/doc/spatial/configuration-and-mapping.html] but with those settings I was not able to have it running. I get null on my geometry prop

[2016-02-02 12:20] semone commented on #29
I think the helplink in the readme is the same as the one you linked, at least it seams so looking at this [http://web.archive.org/web/20140803110534/http://nhforge.org/wikis/spatial/configuration-and-mapping.aspx](http://web.archive.org/web/20140803110534/http://nhforge.org/wikis/spatial/configuration-and-mapping.aspx)

[2016-02-02 13:27] andrerav commented on #29
Hi,
The old documentation is outdated. Pedro Sousa has written a thorough walkthrough on how to configure and use NHibernate.Spatial. Part 1 starts here: http://build-failed.blogspot.no/2012/02/nhibernate-spatial-part-1.html

[2016-02-02 21:21] keyjote commented on #29
Thanks @semone and @andrerav
I followed the guide from Pedro Sousa and besides a couple of minor things, most of it was the same.
Anyway I followed everything Pedro said and I still got null.

So now I am printing all the logs from nhibernate and found a couple of interesting things:
1) when nhibernate does the select to get the geometry, the geom field is in the query but the set from that column

[2016-02-15 17:29] peetw commented on #29
Hi, without seeing what you've tried so far, it's hard to comment. However, I've been using NHibernate.Spatial with PostGIS for a good while now and it's all working fine. The entities are mapped via convention, rather than mapping classes, but essentially the mapping boils down to:

`Map(x => x.Geom).CustomType<PostGisGeometryType>().CustomSqlType("geometry(Polygon)");`

where Geom is a member on

[2016-02-15 19:46] keyjote commented on #29
Hi @peetw, so you can read my setup here in a question I created in [Stackoverflow](http://stackoverflow.com/questions/35115646/nhibernate-postgres-spatial-geometry-type-become-null) where I described my problem but got no answers :(

Because of your comment I just tried replacing my entity property type to be:
        `public virtual Polygon Geom { get; set; }`
rather than
        `public virtual

[2016-02-18 20:16] keyjote commented on #29
So it ended up that my settings were correct just that the version of Npgsql which I was using (3.0.5) is not compatible with Geometries.
By downgrading Npgsql to version 2.2.7 it did the trick and I was able to get the geometries as expected.

When testing most of the time seems to work, but for large geometries I got an exception:
[code]

I will create a different ticket regarding this issue, bu

[2016-02-18 21:08] keyjote opened #30 "Fetching large geometries gets OutOfMemoryException"
When testing most of the time seems to work, but for large geometries I got an exception:

[code]

I am using postgres/postgis, running NHibernate version 4.0.4.4000 and NHibernate.Spatial.PostGis 4.0.4.4000.

my geometry in the db is not that big, it has 5104 points, which is 83672 bytes (82 kB).
Is there a limit on geometries? how can I handle big ones?
My system should support even bigger ones,

[2016-02-18 21:33] keyjote opened #31 "Npgsql 3.0.x does not return Postgis Geometry"
I have been struggling for a few weeks when mapping my Geometry column in Postgis to IGeometry
here is a very detailed description of the [problem](http://gis.stackexchange.com/questions/178117/nhibernate-spatial-geometry-type-become-null)

The solution in the end was to downgrade Npsql to use 2.2.7 and it just works.

I tried to report this to Nhibernate jira bug tracker but seems I am not allowe

[2016-02-18 21:55] andrerav commented on #31
Hi @keyjote. For the sake of experimentation, can you try using Npgsql 3.1 alpha? It's available on NuGet. The Npgsql claim to have implemented support for PostGIS 2D types in that version. See here: https://github.com/npgsql/npgsql/issues/807

[2016-02-18 22:02] andrerav commented on #30
Hi @keyjote. I will need to debug this. Can you please provide your mapping configuration and an SQL script which creates a table and populates it with the data that triggers the crash?

[2016-02-18 22:09] andrerav commented on #29
Thanks @keyjote, links in Readme.md have been updated.

[2016-02-18 22:09] #29 closed

[2016-02-18 22:26] andrerav commented on #6
NTS is still waiting for JTS to implement support for circular arcs. Until NTS supports circular arcs, we have no way of supporting them either. If need arises, we can implement the new interfaces and throw NotImplementedException on methods that we can not implement yet. Closing this issue for now.

[2016-02-18 22:26] #6 closed

[2016-02-19 07:35] keyjote commented on #31
Hi @andrerav. I updatd to Npgsql version 3.1.0-alpha6 and I got null for my geometry (Polygon)
If I look at the logs I see this:

`2016-02-19 08:01:33,883 [18] DEBUG NHibernate.Type.StringClobType [(null)] - returning 'NpgsqlTypes.PostgisPolygon' as column: the10_22_0_`

which I would assume it did work (previously, this line would say: returning null as column_ the10_22_0_) but when trying to use

[2016-02-19 07:52] keyjote commented on #23
Hi @peetw, do you have any new status of this issue?
I had the same problem and thanks to this post now I am able to save new rows in the db.

[2016-02-19 08:00] andrerav commented on #31
@keyjote: After looking at the [code](https://github.com/nhibernate/NHibernate.Spatial/blob/master/NHibernate.Spatial.PostGis/Type/PostGisGeometryType.cs) it definitely seems that there's not much I can do in NHibernate.Spatial.PostGis about this. The problem stems from either NHibernate (more likely) or NetTopologySuite.IO.PostGis (less likely). Is it possible for you to share your code so I can

[2016-02-19 08:02] andrerav commented on #23
@keyjote: I haven't gotten around to this yet, I will fix this very soon and release a new NuGet package :)

[2016-02-19 08:23] keyjote commented on #31
@andrerav I don't think I will have the time right now to create a test project for you. I can describe my setup for now and over the weekend I can create a test project and then upload it here.

My setup uses NHibernate version 4.0.4.4000 and NHibernate.Spatial.PostGis 4.0.4.4000 (with Npgsql version 3.0.5, also tested with 3.1.0-alpha6) and running a Postgres db version 9.4 and Postgis version 2

[2016-02-19 09:37] peetw commented on #23
@keyjote I'm not a contributor - just someone who was in your position when I started ;)

@andrerav I'd be more than happy to submit a pull request fixing this issue - it would be nice to give something back to this project :) I assume it would just be a case of making the switch from `false` to `true` and making sure the tests pass?

[2016-02-19 09:39] andrerav commented on #23
@peetw That would be great! And yes, it's a big plus if you ensure that the tests are still passing :)

[2016-02-19 09:43] andrerav commented on #31
Thanks @keyjote, I'm leaving town for the weekend, but this info is enough for me to create a test case. I will take a look at this next week.

[2016-02-19 09:44] keyjote commented on #31
@andrerav I appreciate it :)

[2016-02-19 09:46] andrerav commented on #30
@keyjote I suggest that we try to solve issue #31 before taking a closer look at this problem.

[2016-02-19 09:48] keyjote commented on #30
@andrerav aha! ok, no worries, but I will still add a script file so you can reproduce a big geometry. Not pressuring you, I will just do it so I don't forget about it.

[2016-02-19 10:03] andrerav commented on #30
@keyjote That's great, thanks! :)

[2016-02-19 10:07] andrerav commented on #26
Hi @danielcweber, I haven't gotten around to trying out your example yet, sorry about that! I will try to take a look at this next week :) Your example is great and will allow me to debug exactly what is going on. Sorry for taking so long!

[2016-02-19 10:39] andrerav commented on #26
Okay so curiosity got the better of me, seems this is pretty straight forward fix, but I will need to alter the ISpatialDialect interface to achieve this. The information required to correctly configure nullability is available a bit earlier in the [call stack](https://github.com/nhibernate/NHibernate.Spatial/blob/e4e9c34c769f4812f811d2bacc367e66597e355c/NHibernate.Spatial/Mapping/SpatialAuxiliary

[2016-02-19 11:32] andrerav commented on #26
This issue affects PostGis and MySQL dialects too. I have committed a fix: https://github.com/nhibernate/NHibernate.Spatial/commit/a72c6f56bfaefb048d5bd1b00fe9da07b3ee60f1

NuGet packages will follow once I have tested the MySQL and PostGIS changes thoroughly.

[2016-02-19 11:35] andrerav commented on #28
Hi @EnemyArea, can you please provide your entity and mapping configuration as well as the HQL/LINQ/etc you are trying to execute?

[2016-02-22 09:43] peetw opened #32 "PostGIS dialect doesn't support PostGIS 2.x"
When [registering the spatial functions](https://github.com/nhibernate/NHibernate.Spatial/blob/master/NHibernate.Spatial.PostGis/Dialect/PostGisDialect.cs#L107), the PostGIS dialect does not add the ISO prefix "ST_". This prefix was present for some functions prior to PostGIS v1.5, but was added to all of them in 1.5. At the same time, the non-prefixed ones were deprecated, with the view that they

[2016-02-22 16:15] suryapratap commented on #32
I am wondering if we should version the dialects rather than support only one dialect.

[2016-02-22 19:15] andrerav commented on #32
I agree, we're already doing that for SQL Server, and in this case it seems to be a simple thing to implement with inheritance.

[2016-02-22 19:39] peetw commented on #32
Good idea, I'll update the pull request when I get a chance.

[2016-02-22 22:43] andrerav commented on #32
@peetw that would be great!

[2016-02-23 09:01] peetw commented on #32
Is there any preference for naming the dialects? My current thinking is PostGis1Dialect and PostGis2Dialect, but that doesn't really feel right.

Also, what would be the best way to avoid breaking existing code that relies on PostGisDialect? If we move to numbered PostGIS dialects, I don't think there'll be a need for the non-numbered PostGisDialect class.

[2016-02-23 09:05] andrerav commented on #32
@peetw Yes, please keep the PostGisDialect as-is and name the new dialect something like PostGis20Dialect or PostGis2Dialect :)

[2016-02-27 07:48] #26 closed

[2016-02-27 08:07] andrerav commented on #8
@KapecK Did you figure out this problem? If not, can you please provide your code/mapping?

[2016-02-27 09:29] andrerav commented on #8
I think this might be related:
1. https://nhibernate.jira.com/browse/NHSP-15
2. http://stackoverflow.com/questions/24630689/npgsql-to-postgis-adds-text-making-st-intersects-fail/24634084#24634084

[2016-03-04 22:35] #23 closed

[2016-03-05 00:14] peetw commented on #32
@andrerav @suryapratap I've updated the PR if you want to give it a quick check :) Work has been pretty hectic so took a bit longer than I'd expected to get around to it ha

[2016-03-05 05:40] andrerav commented on #32
Great work @peetw! I merged the pull request now.

[2016-03-05 05:40] #32 closed

[2016-03-07 12:02] andrerav opened #38 "Discussion forum for NHibernate.Spatial"
Hi everyone,

I am delighted to see so much activity and progress being made on this project these days! I would like to propose that we create a discussion forum where we can discuss further development without the constraints of creating issues.

Some alternatives off the top of my head:
- Google Groups
- Discourse
- Gitter
- Slack

Suggestions and ideas are very welcome. I will close this issue

[2016-03-07 15:14] peetw commented on #38
I was thinking this just the other day :) It would be particularly helpful also for people who are thinking of contributing, but who might not be sure.

I'm thinking Discourse might be the best out of those listed above, given it has better support for markdown formatting, etc. than Google Groups. It's also more "forum-like" than the Gitter and Slack messaging platforms (I think??). Not used those

[2016-03-07 15:43] andrerav commented on #38
Discourse looks nice, but it seems this project does not qualify -- we need at least 2000 stars to qualify :(

[2016-03-08 09:48] suryapratap commented on #38
Any free group messaging is fine.

Personally I find email a better solution for this since the mail client will have its own filtering and indexing and can be composed offline without hassle.

 :+1: Google Groups

[2016-03-08 09:50] andrerav commented on #38
Seems we have settled for Google Groups for now. Here is the group: https://groups.google.com/forum/#!forum/nhibernate-spatial

See you there!

[2016-03-08 09:50] #38 closed

[2016-03-11 10:26] peetw commented on #25
Just wondering what the status is atm? I'm guessing you've not heard back from the old package maintainer? Let me know if there's anything I can do to help :)

[2016-03-11 10:40] andrerav commented on #25
That's correct, I never heard back from the package maintainer. I haven't investigated how well this will work within the solution either.

[2016-03-11 20:14] rungwiroon commented on #12
@suryapratap Try to set column type by SqlType like this.
[code]

[2016-03-11 21:42] andrerav commented on #12
@rungwiroon: Interesting, could this mean that this is potentially a bug in NHibernate core?

[2016-03-23 12:26] peetw commented on #12
Given the following entity class:

    public class Entity
    {
        public virtual Polygon geom { get; set; }
    }

we use the following mapping to generate the correct SQL schema for the PostGis dialect:

    mapping.Map(x => x.geom)
        .CustomType<PostGisGeometryType>()
        .CustomSqlType("geometry(Polygon, 4326)");

(We actually use `CustomSqlType("geometry(Polygon)");` and some

[2016-03-25 10:02] suryapratap commented on #12
@peetw  ideally  the CustomType and CustomSqlType declarations should not be required since that is part of the task that a database provider should do. What was the need for Regex to insert SRID? what was the default action doing without the Regex?.

[2016-03-30 13:51] peetw commented on #12
I'm not sure how you could omit the `CustomType`? How would NHibernate know what to do with a `Polygon` otherwise?

The reason for the regex is that the SRID for our geometry columns is not known until runtime (i.e. our users create the database schema). Without the regex, the mapping looks like this:

    mapping.Map(x => x.geom)
        .CustomType<PostGisGeometryType>()
        .CustomSqlType("

[2016-03-31 04:51] suryapratap commented on #12
What I meant is ```x.geom``` should be able to set the custom type since the PostGIS provider should know what custom type to map with

Is the SRID set during the mapping phase or is it a per entity thing?

[2016-04-01 09:52] peetw commented on #12
Ah ok :) By PostGIS provider, do you mean the `PostGisDialect` within NHibernate.Spatial?

For our application, the SRID is only provided by the user when they wish to create/recreate the database schema. In our case, it is applied to all entities; however, in a PostGIS database it is perfectly legal for multiple geometry columns to have different SRIDs.

The SRID is not needed during the mapping

[2016-04-04 16:43] EvK commented on #9
Hi, here is a link to stackoverflow discussion which maybe sheds some light on this issue: http://stackoverflow.com/q/35983333/5311735

[2016-04-04 17:58] andrerav commented on #9
Thanks, will definitely take a new look at this!
On Apr 4, 2016 6:44 PM, "EvK" <notifications@github.com> wrote:

[2016-04-07 18:39] suryapratap commented on #9
This is a kind of knee jerk reaction.....

will this issue be resolved if we make the Parameter
[code]
into an abstract / virtual, this can be done in the  ```GeometryTypeBase<T>``` as it is an abstract class.

Then we can have the dialects each return the correct serializable type, it will also have an added benefit that the returned type will allow proper reflection.

The ```GeometryType``` clas

[2016-04-07 19:26] suryapratap commented on #9
come to think of it an easier change would be
[code]

since ```GeometryTypeBase<T>``` is serializable

[2016-04-07 19:31] EvK commented on #9
Don't think making ReturnedType virtual will help, because in several dialects there are several geometry types (line, polygon, etc) all implementing IGeometry - they won't be able to return concrete type.

Making it return GeometryTypeBase<T> _and_ making it virtual seems fine to me.

Though I proposed this solution for the problem day ago in parent repository: https://github.com/nhibernate/nhibe

[2016-04-07 20:29] suryapratap commented on #9
@EvK

I am not a huge fan of if conditions. IMHO this change will cause similar issues in other custom types to be ignored. Returning an interface or abstract type causes loss of type information that could potentially be used by the consumer of the class I do not see any reason why the we should not return the proper type.

```typeof(IGeometry)``` was a quick fix that worked well enough. Change w

[2016-04-07 20:35] EvK commented on #9
Yes I agree your solution should be applied regardless of the state of my pull request, and it should fix this issue.

[2016-04-08 04:05] suryapratap commented on #12
The default SRID is being set in the [DB]Type class but the default selector  ```CustomType<>()``` or ```Map()``` does not expose an option to set the default SRID.

Will it be a good idea to use one of these to set the SRID

[2016-04-08 05:47] hazzik commented on #12
You can use CustomType with an instance, instead of generic
On Fri, 8 Apr 2016 at 4:05 PM, Surya Pratap <notifications@github.com>
wrote:

[2016-04-08 07:32] suryapratap commented on #12
@hazzik yes :) but ```CustomType<T>(Action<T> cfg)``` seemed like a nice to have option

[2016-04-09 08:04] hazzik commented on #12
Please create an issue in JIRA:)
On Fri, 8 Apr 2016 at 7:32 PM, Surya Pratap <notifications@github.com>
wrote:

[2016-04-10 11:43] suryapratap commented on #12
The way I see it, type mapping of the geometry/geography classes is being set by ```GeometryTypeBase<T>``` and the sqlType defined in

[code]
we need to do something about the ```this.sqlType``` as that is what will be used to create the schema scripts.

[2016-04-24 23:44] andrerav opened #44 "MySQL: Null geometries and "No persister for: GeoAPI.Geometries.IGeometry" error"
Hi,

I am attempting to create a simple demo solution using NHibernate.Spatial.MySQL. The solution is available here: https://github.com/andrerav/NHibernate.Spatial.MySql.Demo

The mapping seems to mostly work -- the DemoDataImport project is able to read the GeoJSON files, and insert data into the database, and I can verify the results using MySQL Workbench.

However, if I query the data, geometr

[2016-04-25 20:51] andrerav opened #45 "MysQL: Using AsText() or GeometryType() on MySQL 5.7 throws exception"
This looks like another case of dialect breakage. MySQL versions prior to 5.7 returned geometry strings in a special manner handled by the class `MySQLGeometryStringType`. The fix is simply to change line 119 and 121 from:
[code]
to:
[code]

However, this brings about the need to subclass the MySQL dialect to preserve backwards compatibility. My suggestion is to name this subclass `MySQL57SpatialD

[2016-04-25 23:43] andrerav commented on #44
So it turns out that a lot of things changed in MySQL 5.7. Geometries are now returned as MySqlDbType.Geometry, which is a struct, and that type can not be handled autogracefully by NHibernate like before when geometries were simply returned as blobs. So I implemented a scheme similar to the SqlGeometryType in the MsSql dialect, and that seems to work. I will submit a pull request for both this is

[2016-04-26 03:34] andrerav commented on #12
I'm looking at a similar problem with the MySQL dialect now. Take a look at this method in SpatialAuxiliaryDatabaseObject:

[code]

The field column.Value.Type.ReturnedClass is never IGeometry, and the dialect specific GetSpatialCreateString() method is thus never called.

[2016-04-30 10:10] suryapratap commented on #25
Closing this as this does not affect the current packages.

[2016-04-30 10:10] #25 closed

[2016-04-30 22:00] andrerav commented on #45
Fixed by #46.

[2016-04-30 22:00] #45 closed

[2016-04-30 22:01] andrerav commented on #44
Fixed by #46.

[2016-04-30 22:01] #44 closed

[2016-04-30 22:02] andrerav commented on #12
@suryapratap Can you please confirm if merge #47 fixes this issue?

[2016-05-02 21:50] andrerav commented on #12
@suryapratap Disregard that. This problem originates in issue #9 and the changes made to the code there. I will continue the discussion on that issue.

[2016-05-02 21:54] andrerav commented on #9
Hi guys, the code you committed here had some nasty side effects. It broke schema export and SpatialRelationCriterion.GetColumnNames(). I think we should revert these changes (+ some of my changes made in error trying to fix some of the consequences).

[2016-05-02 22:06] andrerav commented on #9
After further inspection I am fairly certain that these changes definitely need to be reverted. Warnings in the log are by far more tolerable than a broken library. I will submit a pull request ASAP.

[2016-05-05 02:12] andrerav opened #50 "OrderByDistanceHql enters infinite loop when executing tests from Tests.NHibernate.Spatial.PostGis using PostGis20Dialect"
Currently one of the tests (OrderByDistanceHql) enters an infinite loop because the test project is set up to use PostGis20Dialect without overriding the property GeometryType in the projection fixture. A separate test project is needed for this dialect to overcome this problem.

[2016-05-05 02:13] andrerav opened #51 "MySQL57SpatialDialect needs a test project"
MySQL57SpatialDialect needs a separate test project, as the changes are not reconcilable with the old MySQL tests.

[2016-05-05 02:26] andrerav opened #52 "MsSql2012SpatialDialect needs a test project"
To make both 2008 and 2012 easily testable on a single 2012/2014 server instance, these dialects need different test projects.

[2016-05-05 22:47] #51 closed

[2016-05-05 22:47] #50 closed

[2016-05-06 10:00] andrerav opened #54 "Geometries in scalar LINQ queries are returned as null"
For MySQL57 and PostGis20 dialects, some tests such as ConformanceItemT23Linq fails because the returned geometry is null. The HQL variety of the same test (ConformanceItemT23Hql) works fine.

[2016-05-06 18:31] andrerav commented on #24
Hi @PostbuzzAndriy, can you post your configuration and mapping?

[2016-05-08 17:06] andrerav commented on #12
I think we found the cause for this; the geometry columns are generated as tinyints by default -- it's necessary to attach an instance of SpatialAuxiliaryDatabaseObject to the configuration which will automatically generate scripts that modifies the schema with geometry types. This is how it's done:

`configuration.AddAuxiliaryDatabaseObject(new SpatialAuxiliaryDatabaseObject(configuration));`

It

[2016-05-08 17:06] #12 closed

[2016-05-08 17:07] andrerav commented on #24
I am going to assume this was a user error, feel free to reopen if this problem still persists.

[2016-05-08 17:07] #24 closed

[2016-05-08 17:14] andrerav commented on #5
Some functions, like PointN and InteriorRingN are zeroindexed in some databases and 1-indexed in others. To make the tests conform to how SpatialLite treats these functions, simply override them in the test project. How did it go otherwise with this dialect? I would love to see this realized, so I'd be happy to help out :)

[2016-05-10 09:32] peetw commented on #5
I'm currently using a modified version of @FObermaier 's SpatiaLite project with good success in our current project. It's been a while since I got it set up, but I can try and fork the repo and apply my changes and see how it fares with the NHibernate.Spatial tests :)

[2016-05-10 11:09] andrerav commented on #5
That would be great. Would it be easier for you if I pull from @FObermaier
to a new branch which you can fork?

-Andreas

On May 10, 2016 11:32, "peetw" <notifications@github.com> wrote:

[2016-05-10 11:42] peetw commented on #5
Sounds good

[2016-05-10 11:51] andrerav commented on #5
I'll close this issue now and open a new one.

[2016-05-10 11:51] #5 closed

[2016-05-10 11:56] andrerav opened #56 "SpatiaLite Dialect"
It may be possible to continue @FObermaier's work on the Spatialite dialect as mentioned by @peetw in https://github.com/nhibernate/NHibernate.Spatial/issues/5. What needs to be done is to fork the Spatialite dialect and bring it up to speed with upstream, and then submit a pull request in a separate branch which @peetw can fork and improve further.

[2016-05-10 12:39] peetw commented on #56
I'll try and look into this ASAP :) A (very) minor point though - it tends to be referred to as SpatiaLite rather than Spatialite. Not sure if you want to bother renaming the branch ha.

[2016-05-10 16:42] andrerav commented on #56
Hehe :) I removed the branch and created a new one that follows the common feat/#/name pattern (feat/56/SpatiaLiteDialect).

[2016-05-11 09:18] peetw commented on #12
So does this mean that both `CustomType` and `CustomSqlType` can now be omitted from the mapping in the [example I posted](https://github.com/nhibernate/NHibernate.Spatial/issues/12#issuecomment-200327412)?

[2016-05-11 09:23] andrerav commented on #12
@peetw: You still need CustomType(), and I believe you can subclass PostGisGeometryType to set a custom SRID in a cleaner manner. Check out this example: https://github.com/nhibernate/NHibernate.Spatial/issues/9#issuecomment-40578831

[2016-05-12 17:34] suryapratap commented on #9
My Bad, ```typeof( GeometryTypeBase<T>)``` was wrong type to be returned.
Infact ```typeof(IGeometry)``` is the only option here since GeoAPI defines only the interface.

One thing to try would be to use the NTS classes instead of the GeoAPI interface

[2016-05-17 03:41] moh-abed commented on #24
I have the same issue
I am using the following dialect:
<property name="dialect">NHibernate.Spatial.Dialect.MsSql2012GeographyDialect,NHibernate.Spatial.MsSql</property>

And got the error:
Hibernate.MappingException : Resource not found: NHibernate.Spatial.Metadata.GeometryColumn.MsSql2012GeographyDialect.hbm.xml
   at NHibernate.Cfg.Configuration.LogAndThrow(Exception exception)
   at NHibernate

[2016-05-19 21:49] andrerav opened #58 "MySQL dialect is missing dialect ISO prefix in spatial relation functions"
Various spatial relation functions are missing the ISO prefix (ST_). This causes MySQL to use Contains() instead of ST_Contains(), which is a different function altogether.

[2016-05-19 23:16] #58 closed

[2016-05-21 02:51] suryapratap commented on #1
Not able to replicate the issue, ```QueryOver()``` should actually have been ```QueryOver<T>()``` closing this unless a POC or test case for the same is received.

[2016-05-21 02:51] #1 closed

[2016-05-22 22:22] andrerav opened #60 "Oracle dialect needs a test project"
Currently there is a defunct test project for the Oracle dialect. This needs to be fixed and rigged on the build server.

[2016-05-23 07:26] #9 closed

[2016-05-24 10:17] andrerav opened #61 "Implement Criteria SpatialRestrictions.IsWithinDistance"
This issue was raised 6 years ago and still seems to be unresolved: http://stackoverflow.com/questions/2427548/criteria-spatialrestrictions-iswithindistance-nhibernate-spatial

One possible solution is given in the link above.

[2016-05-24 10:31] andrerav commented on #60
I've been struggling with this for a few days. It seems reading and writing geometries are really flaky. None of the tests pass because the setup fixtures fail when trying to insert geometries. NTS has some code for reading/writing Oracle geometries, but for now I'm calling it quits on this. When Oracle implements geometry or UDT support in their managed driver, we can take a look at implementing

[2016-05-24 10:50] #60 closed

[2016-05-24 10:51] andrerav commented on #54
This has been fixed in master.

[2016-05-24 10:51] #54 closed

[2016-07-12 03:05] mandersengeo opened #62 "Missing dot separator between schema and table name for MsSql2008"
Using NHibernate.Spatial.MsSql v4.0.4.4001 with MsSql2008GeographyDialect.

Schema export broke with:
NHibernate.HibernateException : Incorrect syntax near 'MyOtherwiseOkTable'
at NHibernate.Tool.hbm2ddl.SchemaExport.Execute

Examining the ddl output, I notice that directly after creating the view
`[some_schema].[NHSP_GEOGRAPHY_COLUMNS]`
\(with dot separator\), the script attempts to
`ALTER [some_

[2016-07-13 20:46] andrerav commented on #62
Thanks @mandersengeo, this has been fixed and merged to master. I will publish a pre-release version of the NuGet packages ASAP.

[2016-07-13 20:46] #62 closed

[2016-08-26 01:04] dmitrynovik commented on #61
any workaround? I merely want to compute distance between 2 points

[2016-09-11 06:35] suryapratap commented on #61
Just one observation here
[code]

these are 3 methods that require a similar pattern for the solution
all these methods require one more variable to be held by the ```SpatialRelationCriterion ```
What I would suggest is something more like
[code]

[2016-09-11 06:42] suryapratap commented on #61
One other concern is that using the distance relation is not an indexed query a better solution might be to use a buffer with intersect

[2016-09-17 04:26] suryapratap commented on #61
Distance function should work without issue AFAIK, this issue is about search within a bounding distance

[2016-09-17 08:38] dmitrynovik commented on #61
Yes, there is. Use IGeometry.Distance(IGeometry g)

On Sat, Sep 17, 2016 at 2:26 PM, Surya Pratap <notifications@github.com>
wrote:

[2016-09-17 08:57] peetw commented on #61
@suryapratap Regarding indexed queries: For PostGIS, the function to use would be `ST_DWithin()` as this can use an index, whereas `ST_Distance()` cannot (see [here](http://postgis.net/2013/08/26/tip_ST_DWithin/) - note that they also specifically recommend against using buffer with intersect).

[2016-09-17 16:35] suryapratap commented on #61
@peetw PostGis has ST_DWithin hence the recommendation against the buffer + intersection, issue comes with implementation in SQL Server where a similar function is not there. the buffer + intersection seems like a better choice (in SQL Server) compared to the distance check against all geometries in the column.

[2016-09-17 16:50] peetw commented on #61
@suryapratap Indeed, I should probably have said that I was just mentioning the PostGIS-specific version :) I agree that buffer + intersects is probably the way to go for other providers (would need testing though to ensure it is accurate enough for both geometry and geography types).

[2016-12-28 10:43] EnemyArea opened #64 "Support NHibernate 4.1?"
Hi,
any chance to get an update for NHibernate 4.1 on nuget soon?
Thanks :D

[2016-12-28 11:26] peetw commented on #64
Hi, have you tried NHibernate 4.1 with the current version(s) of NHibernate Spatial and the dialects? Were there any issues/bugs? I had a quick look at the release notes for 4.1 and it seems like it should be ok (the only changes that might affect NHibernate Spatial are the IndexOf indexing, although I didn't look too hard ;) )

[2016-12-28 11:37] andrerav commented on #64
There are no immediate build errors or warnings, so I will go ahead and
submit a pull request for this and see how the build server responds.
Thanks for the heads up :)

On Wed, Dec 28, 2016 at 12:26 PM, peetw <notifications@github.com> wrote:

[2016-12-28 11:52] andrerav commented on #64
Here's the pull request: https://github.com/nhibernate/NHibernate.Spatial/pull/65

[2017-01-02 21:25] andrerav commented on #64
Somewhat surprisingly, building for NH 4.1 seems to have fixed 3 failing tests in our test suite, and there are no new failing tests. Cool! I will merge the changes and publish new packages.

[2017-01-02 21:46] peetw commented on #64
Oh nice! Out of interest, which ones were they?

[2017-01-02 22:00] andrerav commented on #64
@EnemyArea Not sure yet, will dig into it. Meanwhile, some delicious prerelease packages are available for you on NuGet :)

[2017-01-03 06:53] EnemyArea commented on #64
thank u :D

[2017-01-16 23:32] sugarp commented on #8
Hi,

Have you solved the issue? Im facing the same thing, without any success.

[2017-01-17 08:48] peetw commented on #8
@sugarp do you have a simple example that reproduces the issue? If so I can try and have a look for you :)

[2017-01-17 11:02] sugarp commented on #8
Hi,

Wow, thanks for the will man.

I tried to simplify my solution, but let me know if you want me to create really minimal solution.
It uses FluentNHibernate and SharpArchNHibernate for initialization. I also tried to use only FluentNhibernate classed to initialize nHibernate, but error was the same.
I used to use MicrosoftSQL where domain, mapping, conventions and so on worked just fine as it i

[2017-02-08 11:13] peetw commented on #64
Were there any issues with the update in the end? Would it make sense to bump the pre-release to a full release?

[2017-02-08 11:16] andrerav commented on #64
I haven't heard of any problems, so I'll publish new packages asap :)

On Feb 8, 2017 12:13 PM, "peetw" <notifications@github.com> wrote:

[2017-02-08 16:19] andrerav commented on #64
Packages for 4.1.0 are now online :)

[2017-02-09 01:16] hazzik commented on #64
Hey, can you please update to 4.1.1? The 4.1.0 had some major problems.

[2017-02-09 11:58] peetw opened #66 "Cannot save 3D geometries to PostGIS"
Thanks to [IvoD for finding this bug](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/nhibernate-spatial/t8H8LyjbEg0/j4Kv0u48CgAJ).

I have replicated IvoD's issue using NHibernate.Spatial.PostGIS 4.0.4.4001. My entity class and FluentNHibernate mapping are as follows:

    public class Entity
    {
        public virtual int Id { get; set; }
        public virtual LineStr

[2017-02-09 14:28] andrerav commented on #66
Excellent findings @peetw, as soon as the PR arrives I will run it through the test suite on the build server.

[2017-02-09 14:28] andrerav commented on #64
Hi @hazzik, thanks for the heads up! I will jump on that right away!

[2017-02-09 15:30] #66 closed

[2017-02-09 16:05] andrerav commented on #64
Hi again @hazzik -- it seems that NHibernate 4.1.1 breaks 3 tests compared to NHibernate 4.1. Specifically, the following tests:

* ProjectionsFixture.OrderByDistanceLinq (MsSql2008)
* ProjectionsFixture.OrderByDistanceLinq (MySQL57)
* ProjectionsFixture.OrderByDistanceLinq (PostGis20)

It's easy to see that this relates to NH-3904 and NH-2401. IIt certinaly seems that I can change the tests to us

[2017-02-09 16:31] andrerav commented on #64
Alright, NH.Spatial 4.1.1 is available on NuGet, and I fixed the tests to accommodate NH-2401. Thanks @hazzik!

[2017-02-10 10:03] peetw commented on #64
Shall we mark this issue as closed now, or is there more to do?

[2017-02-10 10:06] andrerav commented on #64
Thanks @peetw, I think we should be all set, so I'm closing this issue now.

[2017-02-10 10:06] #64 closed

[2017-03-14 14:15] peetw commented on #30
I too also encountered this bug recently.

The issue is actually caused by a [bug](https://github.com/NetTopologySuite/NetTopologySuite/issues/100) in the PostGisWriter class (from NetTopologySuite) that causes it to overestimate the size in bytes for polygons. The bug has been [fixed](https://github.com/NetTopologySuite/NetTopologySuite/pull/101) in NTS 1.15-pre, which [can be assumed to be stabl

[2017-03-14 14:15] #30 closed

[2017-03-14 14:27] andrerav commented on #30
I will put out a pre version of NHib.Spatial on Nuget built for NTS 1.15.
Thanks @peetw!

On Mar 14, 2017 15:15, "peetw" <notifications@github.com> wrote:

[2017-04-10 22:53] andrerav commented on #7
This should be possible to overcome now with NHibernate 4.1 and the new MappedAs() extension method. Here's an example on how to use it: https://github.com/nhibernate/NHibernate.Spatial/commit/0d74f8b4d0282d05faf5e9337e0f9abd5409cffe

@FObermaier I realize this is 2.5 years ago, but is there any chance you might give this a whirl? :)

[2017-04-18 08:51] rjanetzek opened #69 "geometry is not loading after upgrade to 4.1.1 (previous 4.0.4) mssql"
just updated nhibernate to 4.1.1 and noticed that our geometry is not loading. Saving the geometry is working.   After downgrading the lib, everything is working again. Anybody else having this issue?

[2017-04-18 12:29] peetw commented on #69
There were a few breaking changes in the NHibernate update - see this issue for a summary: #64

Can you copy and paste the exact error you are getting here?

[2017-06-08 13:33] jeffreyabecker opened #70 "MsSql2012SpatialDialect does not inherit MsSql2012Dialect"
This makes new features of MsSql2012 such as sequences, limit and iff unavailable when using a geometry type

[2017-06-09 08:43] andrerav commented on #69
@rjanetzek I am going to venture a guess that your geometries are simply null and you are not getting any errors besides that. Is that correct?

[2017-06-09 09:20] peetw commented on #70
Hi, apologies for not replying to your google group post a while back - MS SQL is not something I have much knowledge of or access to, sorry!

However, it looks like this shouldn't be a particularly difficult fix (just change `MsSql2012SpatialDialect` to inherit from `MsSql2012Dialect`, rather than `MsSql2008SpatialDialect`. Then implement the new 2012 features (the hard part?).

I don't _think_

[2017-06-09 11:51] jeffreyabecker commented on #70
You're correct about the simplicity of this.  I'll get a pull request worked up.

[2017-06-09 12:07] peetw commented on #70
Perfect, thanks!

[2017-06-09 12:08] jeffreyabecker commented on #70
should I base it on a particular branch?

[2017-06-09 12:17] andrerav commented on #70
master is good, we don't have a particular development branch at this time.
If you submit a pull request I will check the status of the tests on the
build server and give you feedback if necessary.

On Fri, Jun 9, 2017 at 2:08 PM, jeffreyabecker <notifications@github.com>
wrote:

[2017-06-09 12:17] peetw commented on #70
New developments should branch off of the `master` branch (don't forget to include the issue number in the branch name, i.e. 'ms-ql-2012-#70')

[2017-06-11 13:52] jeffreyabecker commented on #70
So I've got stuff written but I cant get the mssql tests to successfully run on my local machine. Is there any specific setup I need to do?

[2017-06-12 12:09] peetw commented on #70
You'll need to create a new user and database on a local MS SQL server. The tests tend to use `nhsp_test` for both the username and database name, but you can check the connection string in the [app.config](https://github.com/nhibernate/NHibernate.Spatial/blob/master/Tests.NHibernate.Spatial.MsSql2008/app.config#L9) file.

You'll also need to create a new `Tests.NHibernate.Spatial.MsSql2012` test

[2017-06-12 12:30] jeffreyabecker commented on #70
Hrm...
I did create the database and associated users and all that but I'm still getting failing tests.  Something about shared memory not being available.  I'll dig into it further
I'm considering rewriting my unit tests for better coverage.

[2017-06-12 13:20] peetw commented on #70
So I ended up installing MS SQL 2012 locally, and it turns out that in order to run the tests, you need to make sure that your local server accepts logins using both Windows and SQL Server authentication methods (see [here](https://stackoverflow.com/a/23395581/3628232) for instructions). Otherwise you will get the error message that you observed (viewing the MS SQL Server logs themselves made it e

[2017-06-12 14:49] SehirBilisim opened #71 "Oracle Dialect"
Hi;
I want to use NHibernate Spatial With Oracle, Can I ?
Thanks

[2017-06-12 14:53] andrerav commented on #71
Hi @SehirBilisim,

We made an honest attempt to get the Oracle dialect working properly, but without improved support for user types in the Oracle ODP drivers, this is not possible. Sorry!

[2017-06-12 14:56] jeffreyabecker commented on #70
Oh, yeah. My sql server probably has sql logins turned off.

[2017-06-13 08:57] peetw opened #72 "MsSql2008 tests report false positives"
The connection string for the MsSql2008 test project specifies `Type System Version=SQL Server 2012`. When testing against a MS SQL Server 2008 instance (with 2012 also installed on the same system), this will result in many tests passing, when in fact they should fail due to non-support in 2008.

For example, the [spatial aggregate functions](https://docs.microsoft.com/en-us/sql/t-sql/spatial-geo

[2017-06-13 09:04] peetw commented on #72
If someone can confirm this behaviour, I will create a PR fixing what tests I can and setting the rest to be ignored by the test runner.

[2017-06-13 09:12] andrerav commented on #72
@peetw I'm pretty sure you are right about this. Please do submit a PR and I will verify the results on the build server.

[2017-06-13 10:14] peetw commented on #72
Hmm, I think I messed up :see_no_evil: It turns out that `NHibernate.Spatial.MsSql` project references `Microsoft.SqlServer.Types, Version=11.0.0.0`, which corresponds to MsSql2012 and includes [breaking changes](https://msdn.microsoft.com/en-us/library/ms143179(v=sql.110).aspx) to the CLR geometry types compared to `Microsoft.SqlServer.Types, Version=10.0.0.0` used by MsSql2008. It was this incom

[2017-06-14 12:36] #72 closed

[2017-06-14 13:02] Diaaz commented on #71
NetTopologySuite has some code to convert mdsys.geometry to SdoGeometry. Maybe @SehirBilisim could take a look at that and implement the Oracle Dialect.

[2017-06-15 07:20] peetw commented on #70
@jeffreyabecker how are you getting on? I've got some more time available now, so if you've got some tests for the new 2012 features that you could share (e.g. sequences, limit, iff, etc), I can have a go at getting it all implemented and ready for you if you don't have the time at the moment :)

[2017-06-15 08:54] darkengines opened #74 "SchemaUpdate creates TINYINT column instead of GEOGRAPHY"
Using MsSql2008GeographyDialect

[code]

[code]

How can I generate an update script?
Do I miss something?

[2017-06-15 09:40] peetw commented on #74
Hi @darkengines, it looks OK, but please could you post the definition for `Wgs84GeographyType` (I'm assuming you've defined that yourself?) and also the SQL generated by NHibernate in both cases (i.e. by `SchemaExport` and `SchemaUpdate`). Hopefully that should make it a bit easier to debug, thanks!

[2017-06-15 12:20] darkengines commented on #74
@peetw, thanks for your reply.
Details bellow:

[code]

# exportScript =
[code]

# updateScript:
[code]

The generated exportScript looks weird isn't it ? (The PolygonEntity table does not exist in the db yet).

[2017-06-17 22:19] peetw commented on #74
Thanks for posting the output :) So, from the script generated by `SchemaExport`, I assume that you are adding a `SpatialAuxiliaryDatabaseObject` to your NHibernate configuration? During `SchemaExport`, NHibernate will apply the spatial ADO, which will convert the spatial database columns to the correct SQL type. However, NHibernate does not currently apply _any_ ADO's when running `SchemaUpdate`,

[2017-06-18 01:47] darkengines commented on #74
Thank you for the explanation.

You are right:
`configuration.AddAuxiliaryDatabaseObject(new SpatialAuxiliaryDatabaseObject(configuration));`

**`.CustomSqlType("geography");` fixed the SQL column type.** 👍

----------------------------------------

I still not understand where the ALTER comes from since there's no Polygon table at the export time. (Or maybe I missed somthing in the database):
`AL

[2017-06-18 07:43] peetw commented on #74
If you change your `SchemaExport` call to:

    new SchemaExport(config).Execute(s => exportScript += s, false, false);

noting the `+=`, you'll see the full SQL generated, which does indeed include a `CREATE TABLE...` command.

[2017-06-18 12:29] darkengines commented on #74
Oh OK. I haven't realized that the provided lambda may be called multiple times -_-.
Thanks for all.

[2017-06-18 12:29] #74 closed

[2017-06-19 10:22] peetw commented on #8
@sugarp sorry for the delayed response! I've had a quick look, but I wasn't able to work out exactly what mappings you were using? It appears as if you are not actually correctly mapping any of your entities... If you could post a MWE (minimal working example) that replicates the issue, I can take a look :) Otherwise, I will close the issue.

[2017-06-19 15:28] peetw commented on #70
@andrerav @suryapratap somewhat related - is the `Tests.NHibernate.Spatial.MsSqlSpatial` test project intended to be for testing the `MsSql2012SpatialDialect`? It currently appears that way since it uses the `MsSql2012GeometryDialect` as the Dialect property in the test configuration. Or is it for something else?

[2017-06-19 15:45] jeffreyabecker commented on #70
I've been slammed with other work honestly.  I had been intending on separating the test suites for 2008/2012. My code basically copy-pastes an existing class so it should get its own test suite.  If you want to take a look at what I did, I've got a branch in my repository which you can look at.  The implementation of the sql2012 stuff itself is pretty darn trivial as all the functionality is impl

[2017-06-19 15:50] peetw commented on #70
@jeffreyabecker no worries, it just so happens that I actually have some "spare" time at work for once :) Yes, the implementation is pretty easy. However, what would be great, would be a very minimal example using some of the features that are only available in the MsSql2012 dialect (and that fail when using the MsSql2008 dialect) - I assume you have something already that was the reason you poste

[2017-06-19 15:54] jeffreyabecker commented on #70
The easiest thing I can think of is to have an entity with a sequence hi/lo id generator.  There's a test-case in my repository which covers this already.

[2017-06-19 16:06] peetw commented on #70
Ah yes, sorry I didn't see the new test fixture - thanks!

[2017-06-19 16:09] peetw commented on #52
Does the `Tests.Nhibernate.Spatial.MsSqlSpatial` not already cover it? See [this comment](https://github.com/nhibernate/NHibernate.Spatial/issues/70#issuecomment-309475788). Or have I got things mixed up?

[2017-06-19 16:28] peetw commented on #28
Hard to tell what the actual issue is here, especially without a reproducible example. @EnemyArea I assume you either resolved the issue or it's no longer a problem?

[2017-06-20 10:52] peetw commented on #52
Well, it looks like I have indeed got things mixed up :grimacing: It appears that the `MsSqlSpatial` test project and `MsSqlLegacyDialect` are based on the [MsSqlSpatial](http://mssqlspatial.codeplex.com/) extension for MS SQL 2005 databases, written by none other than Ricardo Stuven.

Whether we keep this legacy dialect is another matter....

[2017-06-20 11:01] peetw opened #76 "Is the MsSqlLegacyDialect necessary?"
It appears as if it was originally created for use with the third-party [MsSqlSpatial](http://mssqlspatial.codeplex.com) extension for MS SQL 2005 databases. The first MS SQL server version to officially support spatial data was 2008.

I think it might be time to deprecate and remove it?

[2017-06-20 11:43] andrerav commented on #76
There's no package for it on NuGet, and there never has been. My vote goes towards simply removing it altogether.

[2017-06-20 12:04] peetw commented on #76
I would agree - I highly doubt anyone is actively using it, and if they are, we can make it clear in the release notes that it has been deprecated and removed. @suryapratap thoughts?

@andrerav  just to clarify, do you mean a NuGet package for the `MsSqlLegacyDialect` or the third-party MsSqlSpatial extension? Because isn't the `MsSqlLegacyDialect` included in the `NHibernate.Spatial.MsSql` NuGet

[2017-06-20 12:07] andrerav commented on #76
@peetw Whoops, brainfart. Yes you are correct, the legacy dialect is included in the MsSql NuGet package :) I  would still prefer to have it removed though.

[2017-06-24 20:26] sugarp commented on #8
Hi,Thank you for reaching me. Anyway i already found the issue and fixed it. My mapping was using incorrect dialect specific spatial type.Please close it.Thank you,PetrOn Jun 19, 2017 12:22 PM, Peet Whittaker <notifications@github.com> wrote:@sugarp sorry for the delayed response! I've had a quick look, but I wasn't able to work out exactly what mappings you were using? It appears as if you are no

[2017-06-25 13:30] peetw commented on #8
@sugarp ok, thanks for the update - glad you managed to get it working!

[2017-06-25 13:30] #8 closed

[2017-06-27 01:37] suryapratap commented on #76
+1  The older Nuget packages will have the binaries, if anyone wants them at a later time they can put in a request.

[2017-06-27 13:15] #7 closed

[2017-06-27 13:34] #76 closed

[2017-06-28 11:09] peetw opened #80 "Dialect database version requirements?"
I'm currently in the process of setting up my local PC (and also Appveyor CI) to run all of the test projects and it's not clear to me which versions of databases/extensions each dialect supports/is targeting?

I've put my best guesses in the table below and highlighted the ones I am unsure about. Does this look sensible?

| Test Project | Database | Extensions |
| --- | --- | --- |
| MsSql2008 |

[2017-06-29 07:30] #52 closed

[2017-06-29 07:30] #70 closed

[2017-06-29 07:38] andrerav commented on #80
The build server I am using is running SQL Server 2012, MySQL 5.7, and PostgreSQL 9.5. A more finely granulated set of database system versions would definitely be beneficial to keep track of backwards compatability. I think we should consider adding a dialect for MySQL 8 as well, lots of changes there compared to MySQL 5.7.

[2017-06-29 16:39] andrerav commented on #71
@peetw Now this is a level of ambition I can admire ;) Do you have some ideas on how to move forward with this?

[2017-06-29 16:56] peetw commented on #71
@andrerav Haha, sorry to disappoint! I was merely re-opening based on @Diaaz's comment and hoping that maybe, just maybe, someone (perhaps @SehirBilisim? :wink:) would see it in the future and run with it.

Plus it serves as pseudo-documentation for anyone else wondering whether it's supported.

[2017-06-29 17:03] peetw commented on #80
Good point re: MySQL 8 - will have to have a look to see what's changed!

As for testing, I've set up my fork to use AppVeyor CI (you can view the results [here](https://ci.appveyor.com/project/peetw/nhibernate-spatial/history)). I'll be submitting a PR once I've got all the tests passing :)

I ended up using the databases listed in the table above (using PostgreSQL 8.4 for the PostGis tests) - se

[2017-06-29 21:30] jeffreyabecker opened #81 "Cant build from Master"
NtsTestCasesFixture.cs has a reference to Open.Topology.TestRunner which I cant seem to find as a package.

[2017-06-29 21:31] jeffreyabecker opened #82 "When using an Azure database, Geometry instances are always null"
When running against an azure sql database, all the geometry instances are always null when they're read out of the database.

[2017-06-30 08:03] peetw commented on #81
If you open the `NHibernate.Spatial.sln` in VS 2015, it should include the `NetTopologySuite.TestRunner` project, which defines a bunch of `Xml*` classes in the `Open.Topology.TestRunner` namespace.

I _believe_ that these classes were taken from another project (most likely NTS), which would explain why the namespace doesn't match the standard naming convention... However, it shouldn't stop the s

[2017-06-30 08:05] peetw commented on #82
Hmm, I'm not too familiar with Azure - what version of MS SQL Server is your instance running?

[2017-06-30 08:08] andrerav commented on #81
Master branch builds fine for me, and also on my rinky-dink build server.

[2017-06-30 10:05] jeffreyabecker commented on #82
Azure Sql is a managed service that Microsoft provides in their cloud. It doesn't have a traditional version. Right now its roughly equivalent to 2016. However the app runs fine against my local machine's 2016 instance and the development server 2016 instance. We've also tested against everything from 2012 up. If you can provide some guidance on working around #81 I'll be able to get in and debug

[2017-06-30 10:10] jeffreyabecker commented on #81
Ok, I'm seeing the problem now.  My machine doesn't have framework 3.5 installed and IT is blocking the installation.

[2017-06-30 10:29] andrerav commented on #81
There are brand new packages on NuGet built from master yesterday, can you use those instead?

[2017-06-30 10:36] jeffreyabecker commented on #81
I'll try. For some context, I:m trying to debug through and find the source of #82.

[2017-06-30 10:48] peetw commented on #81
@jeffreyabecker Can't you just change the `NetTopologySuite.TestRunner` project to target .NET 4 Client Profile? I've not tested it, so I don't know if it would break anything (depends on what NuGet packages it requires I guess)

[2017-06-30 11:03] jeffreyabecker commented on #81
There are some explicit references to net35 packages in there. I'll look at those when I get into the office

[2017-06-30 14:22] jeffreyabecker commented on #81
Yes, fixing the explicit package references to 3.5 fixed it.

[2017-06-30 14:22] #81 closed

[2017-08-06 17:57] megafetis commented on #31
Problem with postgis and NHibernate is solved by creating correct mapping type
`[Serializable]
public class GeometryType : AbstractStringType
{
internal GeometryType() : base(new StringSqlType())
{
}

    public override object Get(IDataReader rs, int index)
    {
        int length = (int)rs.GetBytes(index, 0, null, 0, 0);
        byte[] buffer = new byte[length];
        if (length > 0)

[2017-08-07 08:13] peetw commented on #31
@megafetis Thanks for that! What are the main differences from the current code that make it work? (The formatting seems to be a bit off so I can't easily see, sorry!)

[2017-08-07 12:00] megafetis commented on #31
I created a new type "GeometryType" based on AbstractStringType from Nhibernate lib. The "Get" method executes as BinaryType, returning binary geometry.
The StringType returned "Nhpsqltype.PostgisGeometry" string. It was wrong.
Then I created class GeometryTypeBase from IGeometryUserType interface as in source libruary, but with corrections in some methods. It initializes by passing GeometryType:

[2017-08-07 12:02] megafetis commented on #31
[PostGisGeometryTypeCorrect.zip](https://github.com/nhibernate/NHibernate.Spatial/files/1204704/PostGisGeometryTypeCorrect.zip)
 my code

[2017-08-26 18:42] DMDTT commented on #31
Baaaaahm,

Great I'm gonna check your code.
Maybe we finally can get rid of npgsql 2.2.7

[2017-08-29 07:04] keyjote commented on #31
Great work @megafetis , I did some initial testing on your fix and seems to be working great using:
* npgsql: 3.2.5
* nhibernate: 4.1.1.4000 and
* nhibernate.spatial.postgis: 4.1.1.4001

The only problem I had is that I do not use WGS84 for the coordinate system on my applications, so having geometry.SRID = 4326; in the PostGisGeometryTypeCorrect class broke my application when trying to save data

[2017-08-29 18:54] #82 closed

[2017-08-29 19:07] jeffreyabecker opened #84 "Microsoft.SqlServer.Types not supported in .net standard 2.0"
So I just spent two days trying to Nhibernate.Spatial to run under a .net standard 2.0 app.  There were several issues but the primary one has to do with the serialization of sql geometry/geography types.  It just doesn't work because some of the underlying serializers aren't in the .net standard 2.0 version of System.Data. Nothing I did was able to get them to reliably load the full-framework ver

[2017-08-29 19:20] jeffreyabecker commented on #84
Additionally: when using the .net standard 2.0 version of System.Data.SqlClient, selecting back geo-type fields results in an exception:
System.PlatformNotSupportedException : Type Udt is not supported on this platform.

[2017-08-29 19:47] jeffreyabecker commented on #84
Looks like NetToplogySuite is addressing this:
https://github.com/NetTopologySuite/NetTopologySuite/issues/110

[2017-08-31 07:32] megafetis commented on #31
Ok, I am glad to help you :)

2017-08-29 10:04 GMT+03:00 Keyjote <notifications@github.com>:

[2017-08-31 08:36] peetw commented on #31
@keyjote @megafetis thanks for looking into this guys! Would either/both of you be able to submit a PR with the necessary changes? Also, have you tested whether the changes work, even with the old 2.x version of npgsql?

[2017-08-31 10:20] megafetis commented on #31
No, I doesn't yet

On 31 Aug 2017 11:36 am, "Peet Whittaker" <notifications@github.com> wrote:

@keyjote <https://github.com/keyjote> @megafetis
<https://github.com/megafetis> thanks for looking into this guys! Would
either/both of you be able to submit a PR with the necessary changes? Also,
have you tested whether the changes work, even with the old 2.x version of
npgsql?

—
You are receiving thi

[2017-08-31 10:21] megafetis commented on #31
Excuse me for my bad English

On 31 Aug 2017 1:20 pm, "Евгений ф" <megafetis@gmail.com> wrote:

[2017-10-10 10:54] EnemyArea opened #85 "Update of NHibernate 5"
Hey ppl !
When we can expect a compatible version with Nhibernate 5 support?

[2017-10-10 20:14] nickalbrecht commented on #85
I grabbed the source to NHibernate.Spatial and tried upgraded its NHibernate reference to 5.0. Didn't take too much to do. It's worth noting that I'm not involved with the NHibernate.Spatial project, I'm just testing the bare minimum to get the project to compile and run in my scenario with a [Works on My Machine](https://blog.codinghorror.com/the-works-on-my-machine-certification-program/) level

[2017-10-18 09:21] fredericDelaporte commented on #85
Well, maybe can you issue a PR for that. (I am not involved in Spatial.)

[2017-10-18 09:37] peetw commented on #85
Yup, if someone can submit a PR, we'll review it and get it merged :)

[2017-10-18 10:48] robertovaldesperez commented on #85
Is it possible to have it available in nuget?

[2017-10-18 11:03] peetw commented on #85
Once someone has submitted a PR and it has been reviewed, we should be able to release an updated version to NuGet @andrerav @suryapratap

[2017-10-18 13:55] andrerav commented on #85
Can definitely confirm that a NuGet pre-release package will be available fairly quickly when the pull request arrives. @nickalbrecht Any chance you could wrap up your changes and submit a PR? We have some build and testing facilities set up that will run the unit tests. Not sure about the AppVeyor environment (is it still up @peetw?), but my old TeamCity instance is still running and will build/t

[2017-10-18 14:29] peetw commented on #85
@andrerav I created a [project](https://ci.appveyor.com/project/peetw/nhibernate-spatial) on AppVeyor for NHibernate.Spatial, but I don't have admin privileges for this project (only collab), so either you or @suryapratap will have to create an "official" project on AppVeyor to get it fully hooked up and integrated (see #83).

[2017-10-25 20:34] nickalbrecht commented on #85
I haven't had the time yet to look back into this. If no one has gotten a PR up before I have some free time to do this, I'll see what I can do.

[2017-11-02 07:59] DMDTT commented on #31
Unfortunately this immediately makes the entity "dirty" for nhibernate, so if you load the entity and you don't persist the entity on transaction.commit an update will be fired for this entity

[2017-11-03 11:34] megafetis commented on #31
What is beter solution?

2017-11-02 10:59 GMT+03:00 DMDTT <notifications@github.com>:

[2017-11-03 11:35] DMDTT commented on #31
in fact I do not have one but adding a custom update listener

            bool somethingHasChanged = false;
            for (int index = 0; index < @event.State.Length; index++)
            {
                bool propertyHasChanged = (@event.OldState[index] == null && @event.State[index] != null)
                                          || (@event.OldState[index] != null && @event.State[index] =

[2017-11-05 16:22] peetw opened #87 "MySQL tests fail"
Most of the MySQL tests and some of the MySQL57 tests fail (see [here](https://ci.appveyor.com/project/peetw/nhibernate-spatial/build/1.0.128/tests) for a list).

One of the main reasons for the failing MySQL57 tests is a bug in the MySql ADO.NET `MySqlGeometry` type when creating an empty geometry collection (see bug report [here](https://bugs.mysql.com/bug.php?id=86974)).

I'm not sure how to go

[2017-11-06 07:43] peetw opened #89 "TeamCity CI build fails"
Since the TeamCity build server is private it's not possible to see the build logs to find out why it is failing. Now that we have the public AppVeyor CI build set up, might it be better to disable the private TeamCity build until it is fixed?

[2017-11-12 23:41] #85 closed

[2017-11-12 23:47] andrerav commented on #89
I agree, AppVeyor is a much better alternative, especially with regards to maintenance. I have turned off the old build server now :)

[2017-11-12 23:47] #89 closed

[2017-11-14 09:30] EnemyArea commented on #85
thank you so much ppl :D

[2017-11-14 11:05] peetw commented on #85
@andrerav thanks for reviewing and getting the NuGet packages sorted :) What needs to happen (testing, development, etc) to get the NuGet packages to full release status, rather than pre-release?

[2017-11-14 13:21] andrerav commented on #85
@peetw A few days should be enough, and I'll push new packages. By the way, I have upgraded you to admin on this repository. Can you give me access to the appveyor project as well?  My username is the same as here on Github, andrerav.

[2017-11-14 13:30] peetw commented on #85
Great, thanks :) Unfortunately I don't have access to the "official" AppVeyor project - @fredericDelaporte can you add the NHibernate.Spatial team to the project?

[2017-11-14 13:39] peetw opened #90 "Release management"
Somewhat inspired by the NetTopologySuite project (see [here](https://github.com/NetTopologySuite/NetTopologySuite/issues/199) and [here](https://github.com/NetTopologySuite/NetTopologySuite/issues/179)), I was thinking that now that we have a (semi - see #87) working CI environment set up, it might be worth using it to help us deploy our NuGet packages in a more automated fashion?

For example, a

[2017-11-14 17:53] fredericDelaporte commented on #85
I have added the [core](https://github.com/orgs/nhibernate/teams/core), [spatial](https://github.com/orgs/nhibernate/teams/nhibernate-spatial) and [caches](https://github.com/orgs/nhibernate/teams/nhibernate-caches) teams to AppVeyor administrator role. It does not seem I can add them to only one project, so you will have access to the caches project too on AppVeyor.
@peetw does not seem to belong

[2017-11-15 11:54] peetw commented on #85
@fredericDelaporte thanks! How do I go about getting added to the NHibernate-Spatial team?

[2017-11-15 12:10] andrerav commented on #85
@peetw I think you need to be a member of the NHibernate organization first:

![image](https://user-images.githubusercontent.com/3635018/32835410-4854be68-ca06-11e7-81c9-09b9e6c2c3e2.png)

@fredericDelaporte Can you add @peetw to the NHibernate organization?

[2017-11-15 15:59] fredericDelaporte commented on #85
Done.

[2017-11-15 20:40] andrerav commented on #85
@peetw I have added you to the team, can you confirm that you have gained elevated privileges?

[2017-11-15 20:58] peetw commented on #85
@fredericDelaporte @andrerav thank you both, everything seems to be working as intended :) It's a little bit weird on AppVeyor when I log in via GitHub in that I now have two "accounts" (peetw and nhibernate), but that's no problem.

[2018-02-01 06:39] aspnerd commented on #84
We also need this for geography data types. We are trying to use this in a .net standard 2.0 class library.

[2018-03-06 09:27] EnemyArea opened #91 "Nuget Release?"
Hey ppl :D Can we get a stable release? It's still 5.0.0-pre1 on nuget.

[2018-03-06 18:24] maca88 commented on #31
I took some time to analyze the current situation about the support for `Npgsql 3` and I figured out that there are actually three way of adding support for it:

1. The first one is similar to what @megafetis posted, which is to transform the binary data that can be retrived from the `DbDataReader` into a string. With an additinal condition we are also able to maintain the support for `Npgsql 2.x`

[2018-03-07 18:31] peetw commented on #31
@maca88 thanks for looking into this and for the detailed post!

My initial reaction would probably be that the first approach is the most suitable as it requires the least changes and has the widest compatibility. I will have more time to give it a proper look through this weekend though.

[2018-03-07 20:31] maca88 commented on #31
Would be fine for me, the only thing that is missing in the changes for the first approach, is the ability to running tests for both `Ngpsql 2.x` and `3.x`. Probably this will require to have two extra test projects.

[2018-03-12 08:45] DMDTT commented on #31
I like the third one, but is the nhibernate spatial project still maintained?

I think the dropping npgsql 2.x support is worth a look, as it maintained for a long time

[2018-03-13 09:21] peetw commented on #91
I think this is only something that @andrerav or @suryapratap can deal with unfortunately.

[2018-03-13 09:38] peetw commented on #31
@maca88 Hmmm, yes, good point about the test projects. That certainly moves the argument slightly away from option 1 and towards options 2 and 3.

In fact, the more I think about it, the less I think that adding a reference to `Npgsql` from the `NHibernate.Spatial.PostGis` project is a problem - `Npgsql` is by far and away the most popular PostgreSQL driver for .NET and I can't really think of any

[2018-03-27 12:03] peetw commented on #31
I have now merged in the PR from @maca88 - hopefully we can get a new NuGet release done ASAP (dependent on @andrerav )

[2018-03-27 12:03] #31 closed

[2018-03-27 12:04] peetw commented on #69
Closing this due to lack of response from OP

[2018-03-27 12:04] #69 closed

[2018-03-27 12:08] peetw commented on #28
Closing due to lack of response from OP

[2018-03-27 12:08] #28 closed

[2018-04-16 15:29] dotMorten commented on #84
Also: https://github.com/dotMorten/Microsoft.SqlServer.Types

[2018-05-24 20:48] peetw commented on #91
Stable release packages for version 5.0.0 are now available on NuGet 🎉

[2018-05-24 20:48] #91 closed

[2018-05-25 05:56] EnemyArea commented on #91
thank you very much :D

[2018-07-05 21:09] andrerav commented on #84
I've been noodling around trying to get NHibernate.Spatial.MySQL working with the new MySQL.Data 8.0.11 driver in a .Net Core project. I got fluent mapping and schema generation working without much trouble. However, one snag I have run into is a change in the GeoAPI IGeometry interface from 1.7.4 to 1.7.5 (still in preview):
[code]

The difference being `IEquatable<IGeometry>` missing from the la

[2018-07-05 21:16] andrerav opened #93 "Add MySQL 8.0 spatial dialect"
There are some [changes in the spatial functionality](https://mysqlserverteam.com/whats-new-in-mysql-8-0-generally-available/) in MySQL 8.0 compared to MySQL 5.7. We should add a separate dialect for MySQL 8.0 and implement any necessary changes. Spatial functionality has improved substantially in MySQL 8.0, so it should be worth the effort.

[2018-07-05 21:19] andrerav opened #94 "Add NHibernate 5.1 support"
NHibernate 5.1 has been available for a while, so it's time to see how it fares with NHibernate.Spatial. Requires upgrading NuGet packages, building, testing, and publishing new NuGet packages.

[2018-07-05 22:17] dotMorten commented on #84
I'm curious why you're porting to .NET Core instead of .NET Standard? (Since that'll hit more platforms, including .NET Core)

[2018-07-06 08:07] peetw opened #96 "Support .NET Standard"
This will allow NHibernate.Spatial to be consumed from .NET Framework and .NET Core projects alike (and even Xamarin if you so desire!).

I will run the API analyzer tool to determine what is the lowest version of .NET Standard that we can target (and thus have the widest reach).

For reference: [.NET Standard version selector](http://immo.landwerth.net/netstandard-versions/)

[2018-07-06 08:08] peetw commented on #84
I also ran into the `IEquatable<IGeometry>` error when I attempted to upgrade GeoAPI in one of our projects. I didn't have enough time to look into it then, so I just rolled back the update.

I've created a new issue for supporting .NET Standard (see #96).

[2018-07-17 09:44] peetw commented on #93
Sounds good! This [blog post](https://mysqlserverteam.com/upgrading-to-mysql-8-0-with-spatial-data/) on upgrading spatial data from MySQL 5.7 to 8.0 should be pretty useful guide.

Now, if only we could get Oracle to include my fix for the MySQL ADO.NET Connector...

[2018-07-18 08:59] peetw commented on #96
So, just jotting down some tasks will need completing as part of this:

1. Update all NuGet packages to versions that support .NET Standard
2. Migrate solution from VS 2015 to VS 2017
3. Migrate each project from targeting .NET Framework to .NET Standard (might need to end up multi-targeting depending on the minimum version of .NET Framework / .NET Standard that we are required to support)

I'll b

[2018-07-23 14:16] peetw commented on #93
@andrerav haha thanks for "encouraging" the MySQL team - I was beginning to think the fix might never make it in (especially based on the lifetime of some of the other bugs!!). Fingers crossed they release the new versions soon!

[2018-07-23 15:50] peetw commented on #94
Closed by #98

[2018-07-23 15:50] #94 closed

[2018-07-24 21:34] andrerav commented on #93
I have been doing some testing with the new NH.Spatial 5.1 preview packages for MySQL, and things are looking very good. Stability and performance seems to be excellent so far. The data set I am using for testing currently consists of roughly 18 000 000 rows with geometries. Great job @peetw! This really paves the way for adding the new MySQL 8 geometric and geographical dialects.

[2018-08-06 18:57] peetw commented on #96
I've migrated all of the projects to .NET Standard 2.0 (see [this branch](/peetw/NHibernate.Spatial/tree/target-dotnet-standard)). The MySQL/PostGis projects seem to fine (they're passing the tests). However, MsSql is now failing since `Microsoft.SqlServer.Types` doesn't support .NET Standard (see #84). I tried using dotMorten's [.NET Standard re-implementation](https://github.com/dotMorten/Micros

[2018-09-28 10:06] danghuynhdaty opened #99 "NHibernate does not support maping Geometry type in Postgis"
Hi everyone,
I am using NHibernate version 5.13, NHibernate.Spatial for MSSql, MySql, PostgresSql all of them have version 5.0.0. I successfully connected to MSSql and  MySql server with Geometry support but when i change to Postgres i cant not. I have installed Postgis version 2.4 and Postgres server is 10.5.2.
When i see my logs i found that Geometry type did not  map to geometry type. it is a b

[2018-10-02 07:02] peetw commented on #99
Hi @danghuynhdaty, I've not tested NHibernate with PostgreSQL 10, but it should be ok. What error/exception do you get? Is it only when writing to the database? Or when reading? Or both? What version of Npgsql are you using? What version of .NET Framework/Core is the project targeting?

[2018-10-08 00:01] danghuynhdaty commented on #99
I cant write geometry object to postgresql with npgsql 4.0.3 but when i downgrade to 3.2.7 its worked. Sorry for blame on NHiberbate Postgis. Thank you

[2018-10-08 00:01] #99 closed

[2018-10-17 18:57] dvdtth commented on #96
+1 for option 1. Is that the only thing stopping this from getting merged to master?

[2018-10-17 19:46] andrerav commented on #96
Oh shoot, this has gone under my radar. I definitely support option 1 -- much less risk and we can always try migrating MSSQL again later.

[2018-10-19 06:29] peetw commented on #96
Ok, I'll go with option 1 for now. The only thing left to do is to get the AppVeyor CI build working again. I should have some time next week to get it finished off and submit a PR.

[2018-10-29 03:11] rightthgir commented on #71
@peetw     hi,   I  saw  this， https://github.com/mapspiral/NetSdoGeometry  ，      helpful ？

[2018-10-30 01:06] rightthgir commented on #71
@peetw        I find a  bug，  public class OracleGeometryWriter
private void AddPolygon(SdoGeometry sdoGeometry, IPolygon polygon)

et = ElementType.INTERIOR_RING_STRAIGHT_SEGMENTS;
coords = polygon.InteriorRings[i - 1].Coordinates; --->  coords = polygon.InteriorRings[(int)i/3 - 1].Coordinates;

[2018-10-30 01:16] rightthgir commented on #71
@peetw     I  found a  bug.

oracle   when      Geomerty. srid    = 0,       oracle srid  = null.   so , I  change   like this

        public SdoGeometry Write(IGeometry geometry)
        {
            // TODO:
            //_builder.SetSrid(geometry.SRID);
            //WriteGeometry(geometry);
            //return _builder.ConstructedGeometry;

            //return null;
            var geom =

[2018-10-30 01:28] rightthgir commented on #71
now，  I  can use NHibernate.Spatial.Oracle.dll   on  my  own.

don't forget  change  inner   to  public

[2018-10-30 08:58] danghuynhdaty commented on #61
This issue has been fixed in `NHibrnate.Spatial` version 5.0.0, hasn't it?

[2018-10-30 11:48] peetw commented on #61
@danghuynhdaty not to my knowledge.

[2018-10-30 14:21] #96 closed

[2018-10-31 01:45] danghuynhdaty commented on #61
@andrerav can you help me implement for postgis 20, sql2012 and mysql?

[2018-12-12 11:30] peetw commented on #96
Updated NuGet packages should now be available to download :tada:

[2018-12-30 15:09] selstam opened #103 "Parameter index error when using Linq"
Hi!

I have a linq query that looks like this:

`return session.Query<Entity>().Where(x => x.SourcePartner.PartnerId == _sourcePartnerId && x.Coordinates != null && x.Coordinates.Distance(_centerCoordinate) <= _withinDistance);`

This generates the following SQL where clause:

`where entity_."SourcePartner_id"=:p0 and (entity_."Coordinates" is not null) and ST_Distance(entity_."Coordinates"::text,

[2019-01-16 15:44] peetw commented on #103
Hi @selstam , unfortunately the `IsWithinDistance` spatial restriction is not yet implemented (see #61).

One workaround would be to buffer `_centerCoordinate` by `_withinDistance` and then check whether the entity geom is covered by the buffered center point. For example, using the `QueryOver` syntax:

    var bufferedCenterCoordinate = _centerCoordinate.Buffer(_withinDistance);

    return sessi

[2019-01-16 15:49] peetw commented on #103
Out of interest, what type of database were you working with? I might take a look and see why the Linq provider was failing for this. It would also help if you have a reproducible test case you could share?

[2019-01-16 16:07] peetw commented on #103
Actually, looking at our existing unit/integration tests, your original code _should_ work... Have you tried the code without the first conditional?

    return session.Query<Entity>()
        .Where(x => x.Coordinates != null && x.Coordinates.Distance(_centerCoordinate) <= _withinDistance);

[2019-01-16 16:43] peetw commented on #103
One final suggestion if the above doesn't work - you may be able to use SpatialProjections to avoid the need to buffer the center point (not tested):

    return session.QueryOver<Entity>()
        .Where(x => x.SourcePartner.PartnerId == _sourcePartnerId)
        .And(x => x.Coordinates != null)
        .And(
            Restrictions.Le(
                SpatialProjections.Distance<Entity>(x => x.

[2019-01-18 08:29] EnemyArea opened #104 "Broken if NHibernate version is greater than 5.1"
Hey guys,

there seems to be some changes, that prevents the dialect to be createt. If you test it with Nhibernate 5.1.2 (latest 5.1) it works well. But under Nhibernate 5.2 and greater, you got an error: ": A GeometryType column has been declared, but there is no spatial dialect configured"

[2019-01-18 11:11] peetw commented on #104
Hi @EnemyArea thanks for reporting this. I've confirmed that this issue occurs when running the NHibernate.Spatial test cases too.

It appears to be due to changes made in https://github.com/nhibernate/nhibernate-core/pull/1703. In particular, the following changes to the `Configuration.AddDeserializedMapping` method: https://github.com/nhibernate/nhibernate-core/commit/5dae5f18708aeb3714b373b53e7

[2019-02-12 02:41] hazzik commented on #104
Sorry, I've missed the notification.

[2019-02-16 08:32] hazzik commented on #104
@fredericDelaporte can you take a look? I tried to make `customUserType` of `GeometryType` lazy, but it did not help as `CustomType` accesses `SqlTypes` immediately after load.

[2019-02-16 18:59] fredericDelaporte commented on #104
I will try to have a look tomorrow. My current understanding of this is that NHibernate somewhat lacks a feature required by Spatial, and that a hack was used by Spatial to work around this lack. But this hack is broken with latest NHibernate.

If someone could PR a test case of that hack on NHibernate side, it would surely help investigating what can/should be done. Preferably Spatial contributor

[2019-02-17 13:09] fredericDelaporte commented on #104
I propose nhibernate/nhibernate-core#2011 for allowing restoring the Spatial hack.

Still I think Spatial contributors should ask or contribute some better way of handling this situation.

It could be something like adding an `IConfigurable` interface with a `void Configure(IDictionary<string, string> settings)` method. When a custom type implements it, this method would be called upon creation, w

[2019-02-19 09:03] peetw commented on #104
First of all, thank you both for looking into this - much appreciated! I was away for the weekend so apologies for not replying sooner. I should have some time today to test whether the PR fixes the issue.

I agree - I'm not too familiar with the current implementation in NHibernate.Spatial (it was before my time), but judging by the comments in the source code, it definitely seems like it was mea

[2019-03-06 19:44] #104 closed

[2019-03-06 21:49] EnemyArea commented on #104
Thank you guys! Great job!

[2019-03-06 22:20] andrerav commented on #104
Great job @peetw, thank you very much! I did a smoke test with a few of my current projects, and everything seems to run fine so far :)

[2019-04-28 05:13] alejandropadillav1 opened #106 "Could you check with a new prelease version GeoAPI and NetTopologySuites version 2?.."
Hi pp

Show in the title message, the GeoAPI and NetTopologySuite are planning to release version to V2.0, currently I am using with a NHibernate.Spatial in order to manage a Spatial Data.

I was testing there with a release version, it throws an exceptions.

Thanks in advance

Regards.

[2019-05-29 23:19] MuhKuh7 commented on #84
Has anyone looked into this issue since last year? I am currently trying to port an application from .net framework to .net core running on Linux and I am trying to figure out how to proceed.

[2019-05-30 15:50] peetw commented on #84
@MuhKuh7 We're still waiting for Microsoft to release a .NET Standard (or .NET Core on all platforms) compatible version of Microsoft.SqlServer.Types - you can follow the issue here: https://github.com/dotnet/SqlClient/issues/30

For anyone targeting .NET Core **on Windows only**, we could use the workaround suggested by @dotMorten [here](https://github.com/dotnet/SqlClient/issues/30#issuecomment-

[2019-05-30 16:40] MuhKuh7 commented on #84
@peetw I was just trying to replace Microsoft.SqlServer.Types with the version from @dotMorten, but the implementation of the Populate method is missing. Does it even make sense to try to use this as a replacement or do you know of someone who has already tried that? If it would be only that method the implementation would probably be not that hard, but I just started to look into this so I do not

[2019-05-31 12:52] CoffeeCodes commented on #84
I haven't looked into this really, but I stumbled across this info: https://github.com/dotnet/core/issues/2273#issuecomment-459520956
It looks like EF had the same issue for their Core version and dropped MSSQL Server Types and replaced it withNetTopologySuite.IO.SqlServerBytes https://www.nuget.org/packages/NetTopologySuite.IO.SqlServerBytes/. If the de-/serialization of the geometries is the onl

[2019-05-31 14:59] MuhKuh7 commented on #84
@CoffeeCodes, this looks promising!
I just tried a very simple first implementation and got most of the unit test working in my branch https://github.com/MuhKuh7/NHibernate.Spatial/tree/nts-sqlserverbytes

It is far from complete. Currently geography types are ignored. And I am stuck with the user defined type. I used a simple binary, but this prevents the use of functions and stops with "Cannot c

[2019-06-10 14:59] #103 closed

[2019-06-11 09:48] peetw commented on #84
@MuhKuh7 I've created a pre-release of `NHibernate.Spatial.MsSql` that replaces `Microsoft.SqlServer.Types` with `NetTopologySuite.IO.SqlServerBytes` and targets .NET Standard 2.0. Would you be able to test the new version (`5.2.1-pre001`), preferably on Linux, and see whether it works for you?

[2019-06-11 11:35] MuhKuh7 commented on #84
@peetw, thx! I will try it asap.

[2019-06-27 14:42] peetw commented on #84
@MuhKuh7 did you get a chance to test the pre-release package?

[2019-06-27 15:24] MuhKuh7 commented on #84
@peetw, I am on vacation, but can test next week.

[2019-07-23 22:46] spatialbits commented on #71
So just to be clear, the Oracle dialect *doesn't* work with Oracle as it stand? I would need to make the modifications that @rightthgir  has done? If that's the case could we ask @rightthgir to submit a PR?

[2019-07-25 19:02] peetw commented on #71
@spatialbits I've not had any experience of working with it, so I can't say for sure. However, based on @andrerav 's [comment](https://github.com/nhibernate/NHibernate.Spatial/issues/71#issuecomment-307813878), I doubt it does. We also don't currently release a NuGet package for it either.

We're always happy to accept PR's though if you do have success in getting it working :)

[2019-07-26 15:25] spatialbits commented on #71
Thanks @peetw . For the time being we're OK with just the SQLServer dialect but Oracle may be needed in the future.
I note that there does appear to be a Nuget package for the Oracle spatial dialect: https://www.nuget.org/packages/NHibernate.Spatial.Oracle/4.0.3.4000-alpha1/

[2019-07-29 12:38] peetw commented on #71
@spatialbits np :) The pre-release version is not "official" and is based on a very old version of NHibernate (you'll see that it was released in July 2015). The code is currently in the repo, but we do not maintain it or release NuGet packages for it as part of a standard release.

[2019-08-30 13:51] MuhKuh7 commented on #84
@peetw, totally forgot to answer here. The pre-release version works perfectly since several weeks in our application running .net core 2.2 on Debian Stretch

[2019-08-30 14:51] peetw commented on #84
No worries, thanks for getting back to us - good to hear it's working for you! I'm away for the next two weeks, but I'll try and get a full release out once I return (need to add tests and Linux CI builds first though)

[2019-09-06 07:06] megafetis opened #108 "in PostGisGeometryType throws Exception when PostGisReader instance creating without coordinate factory"
Error
[code]
Success:
[code]

[2019-09-06 07:12] megafetis commented on #108
version of NetTopologySuite is 1.15.3.

in NetTopologySuite 2.0 may be other errors

[2019-09-10 03:16] mikemcdougall commented on #84
Anyone else having issues saving large polygon geometries?

[2019-09-13 16:13] peetw commented on #84
@mikemcdougall what issues are you having exactly? Do you have a test case you can share?

[2019-09-18 12:08] peetw commented on #108
@megafetis what is the exact error/exception you are getting? Do you have an example we can use to reproduce?

[2019-09-18 15:03] peetw commented on #106
@alejandropadillav1 thanks for the heads up. I have updated NTS to 2.0 and fixed any issues. We will release an updated version soon.

[2019-09-18 15:25] peetw opened #110 "Version numbering"
This is more of a general question than an issue per se.

So far we have tried to keep our version numbers relatively in line with NHibernate's (i.e. we moved to v5.0 when we updated our dependency on NHibernate to v5.0, same with v5.1, etc.).

However, with PR #107, it would probably make sense (assuming we want to follow [semantic versioning](https://semver.org/)) to bump the version number to v

[2019-09-19 19:33] fredericDelaporte commented on #110
We have the same issue for [NHIbernate.Caches](https://github.com/nhibernate/NHibernate-Caches). Currently, I have decided to keep the major in sync, and update the minor independently. In release notes, the targeted NHibernate is told.
In effect, this forbids breaking changes until NHibernate releases a major. For caches, that is not much an issue.

[2019-09-20 01:27] hazzik commented on #110
I think that version should be independent and following sem-ver, so if you need to release a new major version - go for it.

[2019-09-24 07:55] peetw commented on #110
Thanks for your comments!

There's also the issue of whether we should continue to version all of the NuGet packages that we release (`NHibernate.Spatial.MsSql`, `NHibernate.Spatial.PostGis`, etc.) as a single "entity" (i.e. they all share the same version) or whether we should start to version them independently. For example, the recent work to port the MsSql package to .NET Standard 2.0 would be

[2019-09-24 10:57] hazzik commented on #110
On the case of `NHibernate.Spatial.MsSql` I would do a _new_ package with exact same version as others.

[2019-09-24 19:13] fredericDelaporte commented on #110
For caches, I have also had the trouble (but for minor changes), and decided to keep the same version for all. Having different versions would somewhat complicate the release process, and I chose to keep it simple.
Moreover if you have dependencies among your packages, and could end-up quite confusing for user. How would they sort out easily which version is the right one for each package, excepte

[2019-11-11 14:52] carlospence opened #111 "Unable to cast object of type 'NetTopologySuite.Geometries.Point' to type 'System.Byte[]'"
I am using Geography datatype in MSSQL 2012. In my previous .NET 4.6 app, it worked with Nhibernate and Netopology Point Datatype but in my new .net core 2.2 application it is throwing this error.
This is what I did in my current app and it is almost the same with my previous .NET 4.6 app.

**Configuration of DB**
[code]
_Note Same in both apps_

**Configuration of Geography CustomType**

_**.Net

[2019-11-17 20:05] andrerav commented on #110
Hi @peetw and others,

As you have pointed out, historically NHibernate.Spatial has been versioned in a manner that usually mirrors NHibernate. NHibernate has had a lot of steady forward momentum with new features and shortcomings and limitations being fixed on a regular basis. Sometimes these changes would lead to incompatibilities with NH.Spatial, so releasing a new version of NHibernate.Spatial

[2019-12-03 18:05] mikemcdougall commented on #84
I found the issue I was having with large geometries.
The problem is in MsSqlGeometryType.cs in the Set(DbCommand cmd, object value, int index, ISessionImplementor session) function.
I changed to
parameter.SqlDbType = SqlDbType.VarBinary;
parameter.Size = ((byte[]) value).Length;

the SqlDBType.Binary has a max of 8000 bytes. So the value being passed in the parameter was being cut off. Sql server

[2019-12-03 21:08] peetw commented on #84
@mikemcdougall Great, nice work! I'll try and take a look at the PR ASAP.

[2019-12-07 10:38] peetw opened #114 "Unable to save/load large geometries using MsSql dialect"
Anyone else having issues saving large polygon geometries?

_Originally posted by @mikemcdougall in https://github.com/nhibernate/NHibernate.Spatial/issues/84#issuecomment-529750948_

[2019-12-07 10:39] peetw commented on #114
@mikemcdougall what issues are you having exactly? Do you have a test case you can share?

_Originally posted by @peetw in https://github.com/nhibernate/NHibernate.Spatial/issues/84#issuecomment-531299608_

[2019-12-07 10:40] peetw commented on #114
@peetw
I found the issue I was having with large geometries.
The problem is in MsSqlGeometryType.cs in the Set(DbCommand cmd, object value, int index, ISessionImplementor session) function.
I changed to
parameter.SqlDbType = SqlDbType.VarBinary;
parameter.Size = ((byte[]) value).Length;

the SqlDBType.Binary has a max of 8000 bytes. So the value being passed in the parameter was being cut off. Sql

[2019-12-07 10:40] peetw commented on #114
@mikemcdougall Great, nice work! I'll try and take a look at the PR ASAP.

_Originally posted by @peetw in https://github.com/nhibernate/NHibernate.Spatial/issues/84#issuecomment-561357765_

[2019-12-07 10:42] peetw commented on #84
@mikemcdougall I've created a new issue for the large geometry problem: #114

Closing this issue as the main work in migrating the `MsSql` dialect to `.NET Standard` has been completed.

[2019-12-07 10:42] #84 closed

[2019-12-09 09:11] #114 closed

[2019-12-09 11:14] peetw commented on #114
@mikemcdougall Your fix has now been merged in and is included in a new v5.3.0 release, which is now available on NuGet 🎉

[2019-12-09 11:35] #106 closed

[2020-03-17 13:36] carlospence commented on #111
Just upgraded to 5.3.0 and this bug or error has been sorted out.

[2020-03-17 13:36] #111 closed

[2020-09-09 08:36] Kerdanite opened #119 "Linq query with a NetTopologySuite.Geometries.Geometry parameter always fail"
We want from our application do spatial query from an in memory Geometry. For example, find each Entity in Distance of that Geometry received.
But each time  doing so we get an exception because the geometry parameter is not parse as binary.
We use both MS Sql and PosGis.

I've wrote a Test in the ConformanceItemFixture to represent that :

[code]

[2020-10-07 17:42] eduardotsj opened #120 "PostGisGeometryType is not detecting Z ordinate for polygons"
On PostGisGeometryType (line 73) is using geometry.InteriorPoint to determine whether the Z-axis is been used or not.
It happens that even with all coordinates setting the Z value, the InteriorPoint is always returning 2D for polygons. Not sure if I'm missing something, but all my geometries are been saved without the Z-axis
I'm using NHibernate.Spatial.PostGis 5.3.0 with dotnet core 3.1.
I've mad

[2020-10-18 11:19] peetw commented on #120
Hi @eduardotsj thanks for reporting this. I have been a bit swamped recently, but will try and take a look at it this week.

[2020-10-22 13:05] robertovaldesperez opened #121 "Geometry exception"
Position = NetTopologySuite.Geometries.Geometry.DefaultFactory.CreatePoint(new Coordinate(w.Longitud, w.Latitud))
Position is a IGeometry. My database have a postgis extension installed.

Exception message:
Stack trace:
[code]

Npgsql version: 4.1.3.1
PostgreSQL version:13
NHibernate 5.2.7
NHibernate.Spatial: 5.3.0
NHibernate.Spatial.PostGis: 5.3.0
Operating system:  Windows 10 x64

[2020-10-22 13:16] peetw commented on #121
Hi, please can you run the following query on the database and report the output: `SELECT PostGIS_Full_Version();`

Can you also post the code that is causing the error? Thanks.

[2020-10-22 13:21] robertovaldesperez commented on #121
"POSTGIS=""3.0.2 3.0.2"" [EXTENSION] PGSQL=""130"" GEOS=""3.8.1-CAPI-1.13.3"" SFCGAL=""1.3.8"" PROJ=""6.3.2"" GDAL=""GDAL 3.0.4, released 2020/01/28 GDAL_DATA not found"" LIBXML=""2.9.9"" LIBJSON=""0.12"" LIBPROTOBUF=""1.2.1"" WAGYU=""0.4.3 (Internal)"" TOPOLOGY RASTER"

[2020-10-22 13:58] peetw commented on #121
Thanks. I see that you are trying to map to a `geography` type column, which may be the issue, although it should be able to cast back and forth, as described [here](http://www.npgsql.org/doc/types/nts.html#geography-geodetic-support). I'm not sure why you've overridden the `SqlTypes` method? I would change the type of the `Position` property on the `CadastralEstate` entity from `IGeometry` to `IP

[2020-10-22 14:34] robertovaldesperez commented on #121
Yes, I am using NHibernate to create the database schema.

[2020-10-22 15:33] peetw commented on #120
Proposed solution looks to make sense. Do you have an example polygon that causes the original issue that I can test with?

[2020-10-22 23:14] eduardotsj commented on #120
Unfortunately I can't send you a functional code, but at least I can tell you that this is the geometry that I was saving:

entity.Geom = new Polygon(new LinearRing(new Coordinate[] { new Coordinate(0, 0, 1), new Coordinate(0, 100, 2), new Coordinate(100, 100, 3), new Coordinate(100, 0, 4), new Coordinate(0, 0, 5) }));

When I read it back, the Z-values are gone.
I've forked this version and appli

[2020-10-23 11:18] robertovaldesperez commented on #121
Any idea?

[2020-10-24 16:31] #120 closed

[2020-10-25 10:26] peetw commented on #108
Closing as unable to reproduce

[2020-10-25 10:26] #108 closed

[2020-10-25 10:58] peetw opened #123 "Support Npgsql 4"
Using Npgsql 4.0 or later causes the PostGIS tests to fail with the following message:

This is likely due to the changes introduced in Npgsql 4 in how PostGIS types are handled; see:

- http://www.npgsql.org/doc/types/nts.html
- http://www.npgsql.org/doc/types/legacy-postgis.html

[2020-10-25 11:13] peetw commented on #119
Sorry for the delay in replying! This is a common mistake (see #103 for example). In your case, I would suggest using `QueryOver` with `WhereSpatialRestrictionOn` instead. Your example would then be:

        [Test]
        public void TestWithAnExternalGeometryParameter()
        {
            Geometry geometry = Wkt.Read("POLYGON( ( 67 13, 67 18, 59 18, 59 13, 67 13) )");
            var buffer

[2020-10-25 11:13] #119 closed

[2020-10-25 11:26] peetw commented on #121
It looks like this is a wider issue relating to the use of Npgsql 4 (see #123). I suggest you try downgrading to Npgsql 3.2.7 and see if that helps

[2020-10-25 11:52] peetw commented on #120
@eduardotsj Thanks! This is now fixed in the latest version of NHibernate.Spatial (6.0.0) available on NuGet :tada:

[2020-10-26 08:44] Kerdanite commented on #119
The problem is when using Linq the Geometry parameter is not correctly parsed and sent to the database.
Why it's not possible to fix that ?

We'd really prefer to use only Linq in our solution and avoid QueryOver

[2020-10-26 08:46] robertovaldesperez commented on #121
@peetw hi,

I have tried version 3.2.7 but it does not work, with the only version that worked for me was with 2.2.7, but since I changed to nhibernate 5 this last version is no longer valid for me

[2020-10-26 10:29] peetw commented on #119
It's on the list, but I don't currently have time to look into it in greater detail, especially since the current workaround works fine. Any pull requests are gladly welcomed though 😃

PS Sometimes the use of QueryOver is unavoidable, even in "vanilla" NHibernate, since the LINQ implementation for NH is not 100% complete.

[2020-10-26 10:42] peetw commented on #121
Hmm OK, I'll have to look into this, but don't have a lot of time at the moment (any pull requests are gladly welcomed though 😃). What was the error message you received with Npgsql 3.2.7?

[2020-10-26 10:55] robertovaldesperez commented on #121
I got the same error. Don't worry if you don't have time, I'll wait for it to be fixed if possible. Thank you very much for your time

[2020-10-26 11:10] peetw commented on #121
OK thanks. I guess one workaround in the meantime would be to just use a `geometry(Point, 4326)` type column in the database and manually cast it to `geography` in any SQL queries that need to use the geography-specific PostGIS methods. The official PostGIS docs also have info on when to use geometry vs geography: https://postgis.net/docs/using_postgis_dbmanagement.html#PostGIS_GeographyVSGeometry

[2020-10-27 08:38] robertovaldesperez commented on #121
hi @peetw  When do you think it can be fixed, more or less?

[2020-10-27 08:47] peetw commented on #121
I'm pretty busy with work atm, so I'm not sure - sorry! It might be a while though, so I would probably try and use the recommended workaround if you can. I'm hopeful that resolving the Npgsql 4 issue will also resolve this issue.

[2021-02-16 14:44] marcdrexel commented on #61
implemented a work around hope this helps somebody, basically i create my own search circle and then use the working Intersects call. also this work-a-round uses ED50 (europe) for transformations, use NAD83 if you're US based or search for your region at https://epsg.io/

requires https://www.nuget.org/packages/ProjNET4GeoAPI/

`using GeoAPI.Geometries;
using NetTopologySuite.Geometries;
using NHi

[2021-07-25 15:02] khaledRamah opened #125 "Version conflict detected for Npgsql - Upgrade Npgsql dependencies to leatest version"
I tried to use [https://www.nuget.org/packages/Npgsql/](Npgsql) with version 5.0.7 and [https://www.nuget.org/packages/NHibernate.Extensions.NpgSql/](NHibernate) but the version inside the PostGis is old back too 3.2.7 from 2018

![Untitled](https://user-images.githubusercontent.com/33222325/126903724-5c29c964-fe5a-47d3-a906-55813e80ac2c.png)

[2021-08-01 07:44] asmaa56a commented on #125
i faced the same problem, do you get any updates?

[2021-08-01 23:22] andrerav commented on #125
Hi @khaledRamah and @asmaa56a. If I remember correctly, there were problems with serializing/deserializing geometries when using Npgsql versions newer than 3.2.7. I think this was related to the dependency on NetTopologySuite 1.x back then. There is a fair chance that this has been resolved now that our dependency on NetTopologySuite has been upgraded to >= 2.0.0. I will try to find time to test t

[2021-08-04 12:58] khaledRamah commented on #125
@andrerav  Did you have some to check and fix it ? please update us. Thanks

[2021-11-17 10:26] eithe commented on #125
Sorry to bump, but is there any news? Would really like to upgrade npgsql to at least 5.x.

[2022-03-17 09:00] eithe commented on #123
@peetw Have you looked at what changes are needed to support npgsql 4.x? It would be great to find a way to upgrade Npgsql due to many performance improvements in later versions of that project.

[2022-03-22 20:45] peetw commented on #123
@eithe Not yet unfortunately, work has been super busy recently so haven't had the time! Definitely agree and would certainly welcome any PRs in this area :)

[2022-04-29 12:47] Amit-Joshi-Git commented on #93
Is there any update on this issue @andrerav ?

[2022-08-14 19:55] peetw opened #129 "PostGIS 3.1+ support"
Running the `Tests.NHibernate.Spatial.PostGis20` tests with PostGIS 3.1+ fails with the following error:

    OneTimeSetUp: NHibernate.HibernateException : 42883: function st_intersection(geometry, geometry) does not exist
      ----> Npgsql.PostgresException : 42883: function st_intersection(geometry, geometry) does not exist
    Data:
      Severity: ERROR
      SqlState: 42883
      Code: 42883

[2022-08-14 20:06] peetw commented on #129
Seems to be caused by the following SQL statement:

[code]

[2022-08-15 07:50] peetw commented on #129
The error is caused by the fact that the signature for `ST_Intersection` changed in PostGIS 3.1 - it now has an optional `gridSize` parameter (see [here](https://postgis.net/docs/release_notes.html#idm43729) and [here](https://postgis.net/docs/ST_Intersection.html)). Therefore, will need to conditionally create a wrapper around the new function depending on the PostGIS version.

[2022-08-15 08:24] peetw commented on #129
Fixing the intersection aggregate issue reveals that tests `ConformanceItemT48Hql` and `ConformanceItemT48Linq` are also failing with PostGIS 3.1, but this looks to be due to the ordering of the returned polygon co-ordinates - using `EqualsTopologically` rather than `EqualsExact` resolves the issue

[2022-08-15 08:52] #129 closed

[2022-08-15 13:44] #123 closed

[2022-08-15 15:35] andrerav commented on #129
Great work @peetw! 🙏

[2022-09-23 21:17] DMDTT opened #132 "Postgis: Geography is handled as geometry"
High there,

I recently tried to take advantage of the "Distance" implementation.

I want to have a simple "radius by kilometer" search, which could be easily done if the parameter of ST_Distance. So ```ST_Distance(geography geo1, geography2 geo2)``` is called.

But as the ```PostGis20Dialect.GetSpatialAnalysisString``` adds ```::text``` to the generated sql, the ```ST_Distance(text geom1, text ge

[2022-09-23 22:02] DMDTT commented on #132
[code]

[2022-09-29 05:22] DMDTT commented on #132
[code]

[code]

[code]

[code]